[2013-09-26 19:11] JovanJ opened #3 "Users Table Warnings"
When merging users, the warningpoints column should either be set to 0 or the mybb_warnings table should be merged in.

http://dev.mybb.com/issues/2263

[2013-09-26 20:17] JovanJ opened #4 "vBulletin 4 (Bug + Fix + Feature?)"
I posted this on the main myBB board but nathan told me to drop it here as well.
I own vbulletin 4, XF and IPB licenses, so if testing needs to be done let me know and i can set it up.

Anyways there are 2 issues with the vBulletin converter for 4.X here are the fixes. The bugs are non-updated table names, no biggy...

Open: merge/boards/vbulletin3/forumperms.php

Find (Line 64)
if($data['forumper

[2013-09-26 20:18] JovanJ opened #5 "phpBB3: Duplicate entry for key 'username'"
I just installed a vanilla MyBB 1.6.9 and then tried to merge my phpBB 3.0.10 forum with version 1.6.7 of the merge system. The "Database Configuration" step went fine but then it failed in the "Users" step with this error:

Code:
471 users are importing right now. There are 0 users left to import and 0 pages left.

Loading data from database...
MyBB SQL Error
MyBB has experienced an internal SQL

[2013-09-26 20:18] JovanJ opened #6 "SMF 2.0.1 to MyBB 1.6 : SQL Error on merging system (MyBB Merge System - Version: 1.6.7)"
As describe in here http://community.mybb.com/thread-129085.html

http://dev.mybb.com/issues/2129

[2013-09-26 20:19] JovanJ opened #7 "phpBB3: merging avatars is not implemented (patch included)"
phpBB3: merging avatars is not implemented

(I've tried to attach the patch here, but there seems to be a
configuration error. So it's here instead:)

http://mark13.org/0001-phpBB3-merge-avatars.patch

http://dev.mybb.com/issues/2072

[2013-09-26 20:20] JovanJ opened #8 "IPB3 Beta Module - Attachments PIDs not converting."
Attachment module convert files.but mysql mybb_attachmnets table
PID, posthash, uid, columns are empty.So attachments cant visible in threads and cant downloadable,
And in IPB 3.2 there is no conf_settings table.Its renamed by : core_sys_conf_settings

http://dev.mybb.com/issues/1985

[2013-09-26 20:22] JovanJ opened #9 "PHPBB3 : Additional User groups are wrong"
Hello. I tried to convert vbulletin 3.6.8 forums to mybb 1.6.5, but I got many problems... Only few features worked (marked on screenshot).
Blank page = white page without title or anything else (I tried to F5 but still nothing)
SQL error when converting forum permissions:
[URL=http://imageshack.us/photo/my-images/513/sql.png/][IMG]http://img513.imageshack.us/img513/3618/sql.th.png[/IMG][/URL]

An

[2013-09-26 20:23] JovanJ opened #10 "Forum Permissions changed in IPB 3"
So, I'm leary as it is to use beta converters because I was screwed over in the past by incomplete converters... but I decided to give this a go.

I'm using the IPB 3 (beta) converter and I've successfully converted: Usergroups, Users, Forums, & Threads. When I go to 'merge' Forum Permissions however, I get the following error:

MyBB has experienced an internal SQL error and cannot continue.
SQL E

[2013-09-26 20:23] JovanJ opened #11 "SMF 2.0.1 Forum Permissions Fail"
When trying to merge forum permissions with SMF 2.0.1 it stands still. I was able to turn on error reporting for this one to get the message:

MyBB has experienced an internal SQL error and cannot continue.

SQL Error:
1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ' 1000' at line 5
Query:
SELECT id_group

[2013-09-26 20:24] JovanJ opened #12 "SMF 2.0.1 Merging PMs Fail"
When trying to to merge pms from an smf 2.0.1 forum it gets stuck before finishing.

http://dev.mybb.com/issues/1850

[2013-09-26 20:24] JovanJ opened #13 "Weird Charecters in West Asian Languages (VB 3.x To Mybb)"
After convert vb 3.8 to Mybb 1.6 Using Mybb 1.6.1 Merge sysyem all of the Persian (also west Asian Languages) posts are in weird type!
Like this:
Automatically convert messages to UTF8 = OFF

Ø¯Ø³ØªÙ‡ Ø¨Ù†Ø¯ÛŒ Ù…Ù†

Automatically convert messages to UTF8 = ON

Ã?Â¯Ã?Â³Ã?ÂªÃ?â?¡ Ã?Â¨Ã?â? Ã?Â¯Ã?Å? Ã?â?¦Ã?â?

[code]

http://dev.mybb.com/issues/1519

[2013-09-26 20:25] JovanJ opened #14 "[attachment] codes"
The merge system doesn't convert attachment bbcodes (new aid, other syntax).

http://dev.mybb.com/issues/1405

[2013-09-26 20:25] JovanJ opened #15 "IPB 2: HTML entities"
here are field which could contain HTML entities: (please verify)

[code]

http://dev.mybb.com/issues/1403

[2013-09-26 20:26] JovanJ opened #16 "IPB, posthash + attachments"
t makes no sense to overwrite the variable some lines later: (boards/ipb2/attachments.php)

[code]

Moreover I think it is better to generate the posthash on importing the posts.

http://dev.mybb.com/issues/1402

[2013-09-26 20:26] JovanJ opened #17 "loginconvert plugin extraneous code & missing remember"
The loginconvert plugin has a lot of extraneous code. For example, verifying the password just to return to the member login function where the hook was called and validate it again. Also salting a plain md5() password, since once again the standard login functions handle this for us.

Also the remember field introduced in 1.6 is missing from the plugin checks.

http://dev.mybb.com/issues/1292

[2013-09-26 20:27] JovanJ opened #18 "attachments.php merging error"
From this thread :: http://community.mybb.com/thread-80881.html

If it's fairly common in the Merge System for the merge to stop when it's importing a lot of attachments, then it should be looked into making this system less "susceptible" to this.

http://dev.mybb.com/issues/1288

[2013-09-26 20:34] ghost commented on #9
Issues with this issue. Either title is wrong or the content is wrong. Redmine link based on title is http://dev.mybb.com/issues/1981 and I have fixed that per the link in 1981

[2013-09-26 20:36] JovanJ commented on #9
Ah, my bad them. I'll close this issue then :) Thanks pavemen! If you find something similar, feel free to comment again or PM me on community.

[2013-09-26 20:36] #9 closed, assigned to nobody

[2013-09-27 16:55] JovanJ opened #19 "PunBB Usergroups Error"
Reference: http://community.mybb.com/thread-107109.html

When no custom usergroups are created the module keeps going while claiming 1 usergroup to import.

http://dev.mybb.com/issues/1767

[2013-09-27 16:56] JovanJ opened #20 "SMF1 & SMF2 timeformat import not correct"
SMF stores time format in the db as:
%B %d, %Y, %I:%M:%S %p

And we'll need to convert these to the equivalent MyBB number codes for the time format.

http://dev.mybb.com/issues/1687

[2013-09-27 16:56] JovanJ opened #21 "MyBB 1.6 to MyBB 1.6 - Last Post Wrong"
I tried importing my current MyBB 1.6 forum to a new installation, and the Last Post section does not update. By that, I mean the links to the thread URL and the username does not update, thus leading to a 404 error.

ie. It should be linking to showthread.php?tid=12345 but is linking to tid=12354 like in the old forum.

Might also be because I purged a few things before merging, so it may be my f

[2013-09-27 16:57] JovanJ opened #22 "SMF 1 - Module forum permissions: wrong count of the items to be imported"
Hi,

the Forum Permissions module of the SMF 1 merge system do not count correctly the items to be imported.
In fact, the query count do not respect the same conditions of the select query used for the real import (ignoring the GROUP BY ID_GROUP, ID_BOARD condition), so the merge will loop infinitely when the real count is lesser than the one performed.
See the queries at lines 42 and 117 of the b

[2013-09-27 16:57] JovanJ opened #23 "Attachments not copying files (All Modules)"
On some server configurations Attachments do not properly copy the files. I cannot reproduce this on my private server, however I have seen it on a few webservers.

http://dev.mybb.com/issues/1542

[2013-09-27 16:58] JovanJ opened #24 "PMs Unreadable, vB3.7 --> MyBB1.6"
Description: When merging from vBulletin 3.7 to MyBB 1.6, all private messages became unreadable. Moreover, they all appeared in the "Sent Items" folder with no title, sent to "N/A (not sent)". See image below.

Forum System: vBulletin 3.7 to MyBB 1.6

http://dev.mybb.com/issues/1523

[2013-09-27 16:58] JovanJ opened #25 "Avatars from SMF & SMF2 attachments tables aren't being ignored"
Since these have ID_MSG (smf1.1)/id_msg (smf 2) set to 0 for avatars, we need to make the Merge System ignore anything in the attachments table with 0 for the msg... double checking needs to be done that all 0s are in fact avatars, but this seems to be borne out by both my test boards.

http://dev.mybb.com/issues/1265

[2013-09-27 16:58] JovanJ opened #26 "mime_content_type has been deprecated"
Since mime_content_type() has been deprecated and replaced by the PECL extension Fileinfo() we should update the code to test for it, use it if available, if not test for Fileinfo(), use it if available, and if not use our current fallback. Or possibly do Fileinfo, fallback to mime_content_type, then fallback to our current fallback.

http://dev.mybb.com/issues/1250

[2013-09-27 16:59] JovanJ opened #27 "Posts not restored for phpBB2 threads with the same title"
If there are two threads with the exact same name, for example as a result of a move from forum to forum, where the other thread is a simple shadow/redirection, the thread posts and details such as "dateline" are NOT merged.

In the database mybb_threads table you can find only one row for the threads, which has only the topic title & view count, everything else is 0.
To reproduce:

[code]

http:/

[2013-09-27 16:59] JovanJ opened #28 "importing users throws up a warning"
File Line Function
/convert/boards/smf.php 115 errorHandler->error
/convert/boards/smf/users.php 87 SMF_Converter->get_group_id
/convert/resources/modules/users.php 123 SMF_Converter_Module_Users->convert_data
/convert/boards/smf/users.php 69 Converter_Module_Users->insert
/convert/index.php 970 SMF_Converter_Module_Users->import
Warning [2] Invalid argument supplied for foreach() - Line: 115 - Fi

[2013-09-27 17:00] JovanJ opened #29 "SMF Quote Tags Still Not Right"
Embedded quote tags aren't being parsed by the BB Code parser properly.
Every user shows 'link' after their username when things are converted properly.

Apparently the regex for the quote tags still needs more work.

http://dev.mybb.com/issues/1177

[2013-09-27 17:00] JovanJ opened #30 "Signatures not being parsed for BBCode and/or being run through utf8_unhtmlentities()"
SMF 1 & 2: Missing BBCode parser & unhtmlentities()
PunBB: Missing BBCode parser & unhtmlentities()
phpBB2: Missing BBCode parser
phpBB3: Missing unhtmlentities()
IPB2: Missing unhtmlentities()
vB3: Missing unthmlentities()

Suggested fix:
change all to the same format as posts & pms encode_to_utf8($this->bbcode_parser->convert(utf8_unhtmlentities()), "", "");

Not all boards may need the utf8_unh

[2013-09-27 17:01] JovanJ opened #31 "Counters/Links not updated"
Upon merging a database, I discovered a bug with the "Last Post" link. Instead of taking you to the last post, it returns with a "The Specified Thread Does Not Exist" message, as it tries to go to a different thread link.

Example:

Click on the "Posts?" link in the first catergory.
It will go to http://dotrb.net/thread-603-lastpost.html
And then it will say:

The specified thread does not exist.

[2013-09-27 17:02] JovanJ opened #32 "Birthdays are wrong after import from vB 3.8.4"
I just made an testimport from an vB-Forum and the birthdates got all mixed up.

The day gets the number of the month and the month keeps beeing empty.

For example: "December 2nd 1970" from vB becomes "(no month) 12th 1970" in MyBB.

http://dev.mybb.com/issues/566

[2013-09-27 17:02] JovanJ opened #33 "phpBB3 - Group Moderators"
Not sure if this is reproducible, but I just merged a phpBB 3 forum that had groups as moderators, and now under all the forums it shows "Moderated By:"

http://dev.mybb.com/issues/548

[2013-09-30 21:15] JovanJ opened #34 "SMF 2 attachments convert error"
1054 - Unknown column 'attachment_type' in 'where clause'

attachment_type column doesen't exists in attachment smf table.

[2013-09-30 21:17] JovanJ opened #35 "Error when trying to convert threads SMF 2"
Error:

 1054 - Unknown column 'id_msg' in 'where clause'

id_msg column exists in messages table but, something else is the problem. I am still not sure what is it.

[2013-09-30 21:19] JovanJ opened #36 "Error when trying to convert settings SMF 2"
Error:

[code]

Just noticed this error, I wasn't able to take a look over the code and see what is happening.

[2013-10-10 11:01] #4 closed, assigned to nobody

[2013-10-10 11:18] JovanJ commented on #29
I've tested this, and seems like everything works in current version of MyBB Merge system. Can someone confirm please?

[2013-10-10 11:19] JovanJ commented on #35
Tested and seems like it's fixed. Someone confirm?

[2013-10-10 11:21] JovanJ commented on #32
Tested on big board, and every user birthday is successfully converted. Did someone else tested it?

[2013-10-10 11:24] JovanJ commented on #28
No such error for me.
Seems like this is fixed also, anyone else?

[2013-10-10 11:26] JovanJ commented on #6
Strange error, It must be something with OP database. Tested few times with SMF databases, nothing similar appears. I'll close this.

[2013-10-10 11:26] #6 closed, assigned to nobody

[2013-11-13 06:16] DooneW commented on #5
Same error here. Importing from Phpbb3.

[2013-11-13 16:43] DooneW opened #37 "Merge Not Working"
It won't import users. It keeps giving an SQL 1062 error saying "duplicate entry". It stays stuck on the user import step until I press pause, but it will never resume. I'm using the latest MyBB and importing Phpbb3 (latest).

[2013-11-13 16:47] Stefan-MyBB commented on #37
There is no need to create another ticket: #5

[2013-11-13 16:47] #37 closed, assigned to nobody

[2013-11-13 19:36] DooneW commented on #5
Apologies I didn't know if this was too old to reply to so I made a new thread. I want to share an update which might prove helpful.

I had uploaded some plugins, but hadn't activated them or installed them. Another mod who was testing it with me had installed some plugin (I don't know which one). I came the next day to do the merge and ran into the SQL 1062 error.

The problem was that the plugin

[2014-02-12 09:17] nmalcolm opened #39 "[1.8] Convert Prototype code to jQuery"
Similar to MyBB 1.8, the Merge System 1.8 needs its JS converted to jQuery.

[2014-02-12 21:04] nmalcolm opened #40 "[1.8] Convert IP addresses to binary format"
Since MyBB 1.8, we pack IP addresses to bring IPV6 support. The Merge System currently fails because it tries to insert the IP address directly, even without adding quotes (possibly a different bug). IP addresses need to be converted with the my_inet_pton() function.

[2014-02-12 21:31] nmalcolm opened #41 "global $import_session is a variable variable"
./boards/smf2/usergroups.php:30

[code]

[2014-02-12 21:38] #39 closed, assigned to nobody

[2014-02-12 21:41] #41 closed, assigned to nobody

[2014-02-13 04:57] nmalcolm opened #42 "[1.8] Usergroups module for phpBB3 redirects infinitely"
When running the usergroups module for phpBB3 it will redirect infinitely.

[2014-02-14 00:50] LakesGeek commented on #24
Same on vB 3.8.  To fix it, I edited /merge/boards/vbulletin3/privatemessages.php

Find the section

[code]

Replace with

[code]

Truncate the privatemessages table, restart the import, and just do the users (it ignores the existing ones, I noticed, so it's okay) and PMs again, then clean up.

[2014-02-14 00:55] LakesGeek commented on #32
I have this issue as well.  Both systems use a varchar for the birthday, but while vB uses the American mm-dd-yyyy format, MyBB uses the British dd-mm-yyyy instead.  It's a direct field to field translation, so the date and month get swapped.

Not sure how to fix this in the code.  A bit of SQL trickery should fix it in the tables afterwards.  I only have a very small board so I just fixed people'

[2014-02-15 09:09] #40 closed, assigned to nobody

[2014-02-15 09:20] nmalcolm commented on #5
This seems exogenic to me. If anyone is able to reproduce with a clean install of phpBB, please feel free to comment/reopen.

[2014-02-15 09:20] #5 closed, assigned to nobody

[2014-02-15 10:43] nmalcolm commented on #26
This seems to be correct. I haven't been able to test it out though.

@Polarbear541 @ccalby @ImadJomaa @JN-Jones

[2014-02-16 19:07] ImadJomaa commented on #26
Looks right. I'll go ahead and test your changes to smf - didn't see any other commits to other boards that are affected by it.

[2014-02-16 22:23] nmalcolm commented on #26
I couldn't find any other calls to mime_content_type()...

https://github.com/mybb/MyBB-Merge/search?q=mime_content_type

[2014-02-20 19:35] PenguinPaul opened #43 "vBulletin permissions SQL error"
http://community.mybb.com/thread-151023.html

[2014-02-20 19:57] nmalcolm commented on #43
Have you checked this is the same for vB 3.6, 3.7 and 3.8?

Additionally fixes should be pushed to feature too.

[2014-02-21 01:04] PenguinPaul commented on #43
I don't have an available database but I'd assume if they have decent development they wouldn't change a database field name based on an 's'.  First time pushing for merge system so I didn't realize there were several branches.

[2014-02-21 03:05] nmalcolm commented on #43
This needs more research, I'm not entirely happy with an assumption that they're doing things correctly. There have been many successful conversions from vB to MyBB so if this is specific to vB 3.8 then it's going to break for 3.6/3.7 conversions.

[2014-03-05 20:32] Starpaul20 opened #44 "Forum Permissions module for SMF 2 redirects infinitely"
When you run the Forum Permissions module for SMF 2 it will redirect infinitely.

[2014-03-05 20:40] JovanJ commented on #44
There is also one more issues regarding Forum Permissions:

https://github.com/mybb/merge-system/issues/11

Probably it requires, to be rewriten.

[2014-03-05 20:45] Starpaul20 opened #45 "SMF 2 Poll Votes not converted properly"
Poll Votes converted from SMF 2 are not converted properly.

Poll votes are not attached to the poll they belong to (pid in pollvotes table is set to 0).

[2014-06-10 11:39] JN-Jones opened #46 "asort vs natcasesort"
We sort the list of available boards with `asort` however this will fail when we add for example Xenforo. `asort` is casesensitive and so all uppercase boards will be above the lowercase ones. We should use `natcasesort` instead. (resources/output.php, ~line 225)

[2014-06-12 13:12] JN-Jones opened #47 "Forumpermissions module not working"
There's some wrong logic in the forumpermissions module. We don't copy the default usergroups (registered, admin, mod, smod) but we try to copy their forum permissions. We have an array with "old_id => new_id" in the cache but the default groups aren't cached their so it produces some SQL errors when the default groups have their own permissions (tested on a fresh SMF installation and on a phpBB 3

[2014-06-12 13:52] JN-Jones commented on #44
It needs a rewrite. Even after fixing #47 I wasn't able to exactly locate the issue - still testing.

[2014-06-12 16:30] JN-Jones commented on #31
This issue occurs with all softwares we support. While Recount and Rebuild works, we should do this automatically (probably run "Recount and Rebuild" in the cleanup module?)

[2014-06-12 18:04] JN-Jones commented on #28
Not sure but probably the following code should be changed:

[code]

to:

[code]

[2014-06-12 18:14] JN-Jones commented on #26
I'll close this as I can't see any issues. @ImadJomaa: If you've found any issues reopen the issue.

[2014-06-12 18:14] #26 closed, assigned to nobody

[2014-06-12 18:23] JN-Jones commented on #21
Duplicate: #31

[2014-06-12 18:23] #21 closed, assigned to nobody

[2014-06-12 18:27] JN-Jones commented on #19
The import query checks for ids > 3 but the first four groups are continued in the loop. Instead we should simply query for ids > 4 and delete the `if` in the loop.

[2014-06-12 18:40] JN-Jones commented on #17
I think the complete plugin could be rewritten - from a quick look there are many unnecessary things.

[2014-06-12 18:48] JN-Jones commented on #11
I'll close this as we need to rewrite the module anyways: #44

[2014-06-12 18:48] #11 closed, assigned to nobody

[2014-06-12 21:14] JN-Jones opened #48 "class_debug: Debug/Log confusion and multiple creation of debug table"
The only thing the debug class does is creating an object of the log class. It'd be better to directly create the log class and work with that.

The log class constructor calls `$this->create_debug_table();` while the same function is also called when inserting a new log message - so the one in the constructor can be dropped without problems.

The `generate_plain_backtrace` function could also be

[2014-06-12 21:22] JN-Jones opened #49 "error_reporting in index.php"
We call `error_reporting` in `index.php` but the error class we create later extends the default MyBB one which calls `error_reporting` in it's constructor again.

[2014-06-12 21:45] JN-Jones opened #50 "Weird logic in functions.php"
In `resources/functions.php`, the `check_url_exists` function:

[code]

I think the `if` should be before we call `parse_url`.

[2014-06-12 22:07] JN-Jones opened #51 "class_error: print_header has unused parameter"
The last parameter of the `print_header` isn't used inside the function. I've found only one place till now where it is actual set (I'll update the list when I'll find more):
- The `print_error` function in the same class

[2014-06-13 13:01] JN-Jones commented on #48
@JovanJ @PirataNervo @JordanMussi What do you think about removing the debug class? We would need to replace `$debug->log` with `$log` everywhere but that could be done easily.

[2014-06-13 13:08] JN-Jones opened #56 "Version checks in index.php"
The Merge System checks whether the installed MyBB version is between 1600 and 2000 but as 1.8 gets it's own Merge System we need to modify it. In addition the PHP Version check can be removed as MyBB 1.6 requires PHP 5 anyways.

[2014-06-13 13:59] JN-Jones opened #59 "Default value for icon in privatemessage module wrong"
The default value in `modules/privatemessage.php` for the icon column is '' but as it's an integer field it will throw a SQL error when it's not set.

Edit: same for the `smilieoff` column

[2014-06-13 14:05] JN-Jones opened #61 "Possible empty settings (confirmed for usergroup module)"
For some weird reason it can happen that a specific column isn't available in the orig database but is tried to query. The `convert_data` variable contains the key but with an empty string so the `array_merge` doesn't override it and it throws a SQL error later on.

I could confirm it with the `canaddevents` column when merging from SMF but this may happen with other boards and columns too. A shor

[2014-06-13 15:37] JN-Jones opened #62 "Board file included twice"
Line 579 and 581 are the same, one can be deleted.

[2014-06-13 15:40] JN-Jones opened #63 "Automatic activation of loginconverter"
The logic behind this is a bit weird: if the plugin file exists we activate it even when it's not needed. When it's needed we try to move it and throw an error when it fails. I think the activation should be AFTER the move and only if it's needed.

[2014-06-13 16:11] JN-Jones opened #64 "Unnecessary calls to class variables"
There are some places where calls to eg the board class are running through the module class: `$module->board->db_connect()`. One line above is the module created with passing `$board` as parameter. I think it would be better then to call the method directly: `$board->db_connect()`.

[2014-06-13 16:14] JN-Jones opened #65 "Move $check_table to child classes"
From the `class_converter.php`:

[code]

That doesn't look nice and we need to edit the list all the time we add/remove a module. Instead the `$check_table` variable should be moved to the child classes and only be referenced here.

Edit: Same for `$prefix_suggestion` a few lines later.

[2014-06-14 15:06] JN-Jones commented on #43
I'll close this for now as the issue was already reported more than two years ago. This is also related to [this internal thread](http://community.mybb.com/thread-154793.html).

[2014-06-14 15:06] #43 closed, assigned to nobody

[2014-06-14 16:29] #62 closed, assigned to JN-Jones

[2014-06-15 09:33] JN-Jones opened #68 "trackers - table vs columns"
We have two trackers tables (post and private message) but in all other tables we simply add the tracker columns to the main table (eg users). We should stick with one method. I'd prefer the second one as it's easier then to query additional infos in one go.
@JovanJ @PirataNervo

[2014-06-15 09:37] JN-Jones opened #69 "Use the cache class"
We have a merge cache class but it uses only variables to cache the different import variables. We should probably use the mybb cache to store some things (like the $import_session variable). This would help especially when merging bigger boards as they're multiple redirects where the same variables are initialized.

[2014-06-20 07:06] JN-Jones commented on #12
This is caused by pms with more than one recipient, they call an extra function which doesn't unset import_pmid. I'll fix this later today.

[2014-06-21 15:12] JN-Jones commented on #12
Seems like [my fix](http://community.mybb.com/thread-155030-post-1081360.html#pid1081360) isn't working so I'll defer it for now.

[2014-06-21 15:17] JN-Jones commented on #24
Closing this as we don't support vB 3 anymore.

[2014-06-21 15:18] JN-Jones commented on #32
We don't support vB 3 anymore, but we should check whether this affect vB 4 too.

[2014-06-21 15:23] JN-Jones commented on #27
As we don't support phpBB 2 anymore and I can't remember that I've ever seen this bug with phpBB 3, I'll close this.

[2014-06-21 15:23] #27 closed, assigned to nobody

[2014-06-21 15:27] JN-Jones commented on #15
Does this also affect IPB 3? Otherwise we can close this as we don't support IPB 2 anymore.

[2014-06-21 15:30] JN-Jones commented on #16
This affects IPB 3 too

[2014-07-06 00:36] Sama34 opened #71 "SMF2 Forum Permissions SQL error"
All modules run as expected except for Forum Permissions.

[code]

[2014-07-06 00:39] Sama34 commented on #63
Works for me on SMF 2.

[2014-07-06 00:40] Sama34 commented on #56
Seems fine to me.

[2014-07-06 00:40] #56 closed, assigned to JN-Jones

[2014-07-06 00:46] #63 closed, assigned to JN-Jones

[2014-07-06 00:48] Sama34 commented on #51
Seems fine to me.

This was probably copied from MyBB, where it is used IIRC.

[2014-07-06 00:48] #51 closed, assigned to JN-Jones

[2014-07-06 00:52] Sama34 commented on #50
Seems fine to me.

[2014-07-06 00:52] #50 closed, assigned to JN-Jones

[2014-07-06 00:56] Sama34 commented on #46
Nice one :P Works for me.

[2014-07-06 00:56] #46 closed, assigned to JN-Jones

[2014-07-06 00:59] Sama34 commented on #49
I see no issues with this.

[2014-07-06 01:04] Sama34 commented on #71
Seems to be related to #44 so feel free to close if that is the case. It doesn't happens after applying your fix offered there.

[2014-07-06 01:05] Sama34 commented on #59
Seems fine to me. Will close this myself (:

[2014-07-06 01:05] #59 closed, assigned to JN-Jones

[2014-07-06 01:09] Sama34 commented on #44
This doesn't happens to me so I will assume it is fixed?

[2014-07-06 15:10] #49 closed, assigned to JN-Jones

[2014-07-06 15:12] JN-Jones commented on #71
This happens for the same reason as #44

[2014-07-06 15:12] #71 closed, assigned to nobody

[2014-07-06 15:13] JN-Jones commented on #44
The forumpermissions module wasn't working and depending on the smf settings different errors occured.

[2014-07-06 15:13] #44 closed, assigned to JN-Jones

[2014-07-15 08:44] JN-Jones opened #72 "Add FluxBB module"
We add a FluxBB module for 1.8. An internal beta is already available. The loginconverter plugin can use the punbb method.

[2014-07-15 08:46] JN-Jones opened #73 "Add IPB 3 module"
There's already a beta module. Note: there are already some reported bugs here. The loginconverter plugin can likely use the IPB 2 method.

[2014-07-15 08:47] JN-Jones opened #74 "Add vBulletin 4 module"
There's a beta module available too which needs testing. Not 100% sure about the loginconverter plugin

[2014-07-15 08:49] JN-Jones opened #75 "Add XenForo module"
We have already a small module but it needs some tweaks to get it to work. We also need to look how they store the password.

[2014-07-15 08:50] JN-Jones opened #76 "Add WBB Lite module"
The last version is 2, they haven't announced a new one yet so the module is based on this.

[2014-07-15 08:52] JN-Jones opened #77 "Add WBB 3 module"
We need to look whether the database structure is the same as WBB Lite (hopefully it is). Otherwise we need to write a separate module.

[2014-07-15 08:53] JN-Jones opened #78 "Add WBB 4 module"
If we get a database till then we'll write a module too.

[2014-07-15 08:54] JN-Jones opened #79 "Add Vanilla module"
Jovan wrote already one but needs to search it.

[2014-07-15 08:55] JN-Jones opened #80 "Add IPB 4 module"
It isn't released yet but if it is we'll write a module for it

[2014-07-15 08:56] JN-Jones opened #81 "Add vBulletin 5 module"
We need a database first, but as vB 5 isn't used much yet we can add it later too.

[2014-07-15 09:36] JN-Jones commented on #73
Note: this module was already added to the feature branch

[2014-07-15 09:36] JN-Jones commented on #74
Note: this module was already added to the feature branch

[2014-07-24 10:12] JN-Jones opened #82 "make the merge system translatable"
ATM everything is hardcoded but we should use the same way we do with the installer. It should be possible to use MyBB's language class.

Research: Probably we can use a "global.lang.php" and language files for the different boards ("phpbb.lang.php") - not sure whether different boards require different language strings.

[2014-08-31 11:44] JN-Jones opened #84 "loginconvert automatic activation doesn't work"
Seems that I've missed that while fixing #63 It searches the file in `MYBB_ROOT."convert/loginconvert.php`. Probably it was there some time but atm we include it in `MERGE_ROOT."loginconvert.php`

[2014-08-31 12:15] JN-Jones opened #87 "Categories and Forums modules not working"
we changed the mybb_forums table and removed some fields which the merge system still tries to insert.

[2014-08-31 12:23] JN-Jones commented on #82
One spelling mistake which you could fix with this: the forums module says "Import foru #x"

[2014-08-31 12:55] JN-Jones opened #89 "fetch_total return another number than we really import -> endless redirect..."
This is related to #19 (and a lot of other issues).

Short summary:
`fetch_total` gets the number of queries/entries we need to merge, `import` should import them then. However it may happen that `fetch_total` returns the wrong number which either ends in an endless redirect or we don't import everything. One example found in the phpbb module:
`fetch_total`: `$query = $this->old_db->simple_select(

[2014-08-31 13:47] JN-Jones opened #92 "ipadresses for privatemessages"
We save the IP's for PMs now so we need to look which other boards do so and update the modules.

[2014-08-31 18:15] ghost opened #94 "vBulletin private message merge not setting folder for items in inbox"
I can only verify this on vBulletin 3.8.x but looking at the code on the feature branch I suspect this same issue impacts 4.x.

The issue is in the privatemessages merge module when it is setting the folder field of the insert_data object it only evaluates folderid == -1.

There is an entirely separate issue when users have custom private message folders but at a minimum it should at least check f

[2014-08-31 18:32] JN-Jones commented on #94
The vB4 module needs to be fixed anyways, it's still a beta one.
@JovanJ I assign this to you.

BTW: we don't support vB3 anymore.

[2014-08-31 18:40] ghost commented on #94
I understand vB3 isn't supported anymore which is why I'll make that fix in my own fork since I need it and perhaps some others still do as well.

I've found another issue in the vB3 merge code related to setting of PM subjects.  Again I can't confirm it impacts vB4 but I suspect it does.  Given that you don't support vB3 and I can't confirm it impacts vB4 should I still go ahead and create the is

[2014-08-31 20:00] Sama34 commented on #89
I may be getting it worng, as always, but why we don't use variables instead?:

[code]

Or get them fron the MyBB DB that, IIRC, logs imported data.

[2014-08-31 20:05] JN-Jones commented on #89
AFAIK it's used somehow to determine the paging. And IIRC `fetch_total` is only called once and the value is saved somewhere. But don't ask me why it was done that way. However it's not worth to change everything, we should stick with the methods, just fix them.

[2014-09-02 13:01] JN-Jones commented on #92
Boards:
- [x] IPB3 (does the pm module work there?)
- [x] MyBB
- [x] phpBB

[2014-09-02 13:15] #61 closed, assigned to JN-Jones

[2014-09-02 13:18] #42 closed, assigned to JN-Jones

[2014-09-02 13:29] JN-Jones opened #95 "MyBB Merge tries to set auto_increment fields"
The MyBB merge modules try to all columns:

[code]

However this will still throw errors ('' isn't a valid integer). Instead we should use `unset`

[2014-09-02 13:49] JN-Jones commented on #95
And the settings module is even better:

[code]

The name part isn't working and `sid < 149` doesn't make any sense.

[2014-09-02 14:19] JN-Jones opened #97 "Private Message module"
While we save multiple copies of the pm (one for the author, and one for every recipient) others don't do that. The merge system should handle that.

Steps to reproduce (on phpBB):
Send PM from T1 -> T2
Merge
Afterwards only T2 can see the PM, it's lost for T1.

[2014-09-02 14:22] JN-Jones opened #98 "phpBB Salt"
phpBB has some sort of salt, however it isn't used by our loginconvert plugin to verify the password (and it's seems that it isn't necessary). But as they save the salt as `varchar(32)` and we save it as `varchar(10)` it may fail when the salt is too long. I've simply left the salt empty as it isn't used anywhere.

[2014-09-02 14:23] JovanJ commented on #97
We should first merge one for author, and after that to all recipients. Otherwise, it can be a bit confusing what is happening.

[2014-09-02 14:24] JN-Jones commented on #97
Note that some modules don't need it (eg mybb -> mybb)

[2014-09-02 18:24] JordanMussi commented on #3
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:24] JordanMussi commented on #45
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:24] JordanMussi commented on #36
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:24] JordanMussi commented on #34
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:25] JordanMussi commented on #25
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:25] JordanMussi commented on #22
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:25] JordanMussi commented on #23
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:25] JordanMussi commented on #18
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:25] JordanMussi commented on #17
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:25] JordanMussi commented on #14
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:25] JordanMussi commented on #13
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:25] JordanMussi commented on #7
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:26] JordanMussi commented on #15
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:26] JordanMussi commented on #47
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:26] JordanMussi commented on #35
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:26] JordanMussi commented on #33
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:26] JordanMussi commented on #32
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:27] JordanMussi commented on #29
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:27] JordanMussi commented on #28
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:27] JordanMussi commented on #16
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:27] JordanMussi commented on #20
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:27] JordanMussi commented on #19
Does this apply to 1.8? As the 1.6 Merge System will receive no more updates keeping a 1.6-specific issue on the tracker is unnecessary.

[2014-09-02 18:41] Starpaul20 commented on #45
Looks like it does.

[2014-09-02 19:51] JN-Jones commented on #3
All issues are old ones (old merge system version and old merge board version). And all need to be tested. So instead of commenting you could test them and set the label or reject them :P

[2014-09-02 21:00] ghost commented on #32
I don't have a license for vB4 so I can't fully verify but the code that was the issue in vB3 is directly copied in the vB4 user merge module on your development branch for 1.8.  Based on that it seems highly likely it is also a problem there.

[2014-09-04 10:31] #19 closed, assigned to JN-Jones

[2014-09-04 10:32] #92 closed, assigned to JN-Jones

[2014-09-04 10:33] #65 closed, assigned to JN-Jones

[2014-09-04 10:34] #84 closed, assigned to JN-Jones

[2014-09-04 12:42] JN-Jones opened #101 "get_group_id is... wrong"
This function is a little bit confusing and sometimes useless.

From the description: `Convert a [board] group ID into a MyBB group ID`. There are easier ways to do this, I'll introduce a better method while fixing the forumpermissions module. However there's more:

The parameters for bbPress and phpBB: `get_group_id($uid, $options=array())`. So it selects all groups for `$uid` and converts them t

[2014-09-05 06:45] JN-Jones commented on #17
I'll close this as I decided to rewrite the plugin to make use of the new login datahandler.

[2014-09-05 06:45] #17 closed, assigned to nobody

[2014-09-05 06:52] JN-Jones opened #103 "Rewrite loginconvert plugin"
The old one has a lot of unnecessary code and doesn't use the new login datahandler. I need to look whether the old one does more than verifying the password but what I'd do atm:
- add an array with valid types (db_type => function_to_use)
- check whether password & type are set, if yes return (use mybb login)
- check whether we use a valid type, if no throw an error with link to the lost password

[2014-09-06 08:27] JordanMussi commented on #3
Fair point. :wink:

[2014-09-07 10:57] JN-Jones commented on #101
Postpointing as it works atm

[2014-09-07 10:58] JN-Jones commented on #68
Postpointing

[2014-09-07 10:58] JN-Jones commented on #64
Postpointing

[2014-09-07 10:58] JN-Jones commented on #31
Postpointing, for now the docs should say "Use r&r"

[2014-09-07 11:01] JN-Jones opened #105 "Remove class_debug.php"
See #48: `class_debug.php` is useless, we should remove the debug class and only use the log class

[2014-09-07 11:01] JN-Jones commented on #48
Created #105 for the debug class thing, going to create a PR with the other changes.

[2014-09-07 11:19] JN-Jones commented on #98
SMF 2 saves it too, but we don't use it and vB4 saves it in the wrong column again (vB3 saved it in the correct one). I'll add both changes.

[2014-09-07 13:44] #98 closed, assigned to JN-Jones

[2014-09-08 08:54] #95 closed, assigned to JN-Jones

[2014-09-08 08:58] JN-Jones commented on #87
Fix was pushed already somewhere else, closing

[2014-09-08 08:58] #87 closed, assigned to JN-Jones

[2014-09-08 08:59] #48 closed, assigned to JN-Jones

[2014-09-08 09:00] #47 closed, assigned to JN-Jones

[2014-09-08 09:01] #20 closed, assigned to JN-Jones

[2014-09-08 10:07] JN-Jones commented on #79
Vanilla saves their passwords in binary tables, we need to unescape them when merging (using `hex2bin`)

[2014-09-08 10:25] #103 closed, assigned to JN-Jones

[2014-09-08 18:41] JN-Jones commented on #76
This can be tested now, I only need to write the BBConverter now, every other module should work.
https://github.com/JN-Jones/merge-system/tree/module-wbblite
@mybb/sqa @PirataNervo @JovanJ @Stefan-ST @Sama34

[2014-09-08 22:23] ghost commented on #23
I am not sure if this is the issue some users have reported but I do know the vB merge module only handles attachments that are saved in the attachments table filedata column.  If the attachments are stored on the filesystem nothing will get copied.  The same holds true for thumbnails.

[2014-09-09 09:29] JN-Jones commented on #23
Thumbnails aren't copied, you need to run the rebuild module on the acp (I'll add a notice for that soon).
The only issue I had with the attachments were wrong permissions caused by a .htaccess file which I fixed yesterday. However I don't have a vb license so someone else needs to check whether there are more issues.

[2014-09-09 10:06] JN-Jones opened #109 "Add new option: "close board" and add a short notice about r&r and permissions"
We'll add a new option which automatically closes the board while performing the merge to avoid that non-admins complaint (if someone uses the merge on their live board...).
We'll also add a new notice on the finished site about using the Recount and Rebuild tools and that they should check all permissions to avoid unnecessary support threads.

[2014-09-09 11:24] JN-Jones commented on #28
I was able to reproduce this with an example database, my fix above worked so I'll create a PR later today.

[2014-09-09 11:32] JN-Jones opened #111 "SMF poll question is varchar(255), our question column is varchar(200)"
If the question has more than 200 chars it will cause an error.

[2014-09-09 11:48] JN-Jones opened #112 "check_encoding() can cause timeouts"
The functions checks already the length of the string:

[code]

However this may also happen with short strings so I'll add a global constant to deactivate that check.

[2014-09-09 12:22] #12 closed, assigned to JN-Jones

[2014-09-09 12:26] #112 closed, assigned to JN-Jones

[2014-09-09 12:29] #111 closed, assigned to JN-Jones

[2014-09-09 12:32] #28 closed, assigned to JN-Jones

[2014-09-09 12:34] #45 closed, assigned to JN-Jones

[2014-09-09 12:39] JN-Jones commented on #35
I wasn't able to reproduce it and didn't found any line where this might happen.

[2014-09-09 12:39] #35 closed, assigned to nobody

[2014-09-09 14:04] JN-Jones opened #117 "debuglogs table doesn't use collation"
The `debuglogs` table is always latin which can cause issues with utf8 which ends in an infinite loop. I'll change the create statement to use utf8 always and in addition I'll try to fix the endless loop

[2014-09-09 14:30] JN-Jones commented on #36
I'm not able to reproduce this, the settings table has a column `variable`

[2014-09-09 14:35] #117 closed, assigned to JN-Jones

[2014-09-09 14:57] #109 closed, assigned to JN-Jones

[2014-09-09 15:35] JN-Jones commented on #77
We had luck: It's the same, so we can use the same module for both: #110

[2014-09-10 09:28] JN-Jones opened #120 "BBPress 1.0 supported, 2.5.4 was the latest release"
We support BBPress 1.0, however 2.5.4 was the latest release. Most tables have been changed since then which causes many error.
Either we'll update our module or we create a second.

[2014-09-10 13:00] JN-Jones commented on #120
I've updated my local module to work with BBPress 2.5.4 - I only need to know whether we replace the old one or whether we support both.

[2014-09-10 16:06] JN-Jones commented on #94
So in MyBB 0 and 1 are Inbox and 2 is Outbox.
vB uses 0 as Inbox and -1 as Outbox?

I'll check the pm subject thing later.

[2014-09-10 16:21] JN-Jones opened #123 "column length is different than in the merged board"
I had this issue now multiple times for different boards and columns. Some examples:
vb saves the ICQ number as `char(20)` (and they don't check the input) while we save it as `varchar(10)` so if an user has entered something with more than 10 characters it'll throw an error.
The post message is `mediumtext` for them while ours is `text` which will throw an error too.

I've added a `substr` everyw

[2014-09-10 16:29] JN-Jones commented on #94
I've fixed the pm subject part. @annatar if you're confirming the folder ID's I posted above I'll fix that too.

[2014-09-10 16:31] ghost commented on #94
That is correct at least for vB3.x.  That is the only license I have I have to test against.  Knowing their development patterns I highly doubt they changed it for vB4/5.

[2014-09-10 16:34] JN-Jones commented on #94
But then the code is correct isn't it? (Changed 0 to 1 as we're using that everywhere else but that shouldn't matter much)

[code]

[2014-09-10 16:42] ghost commented on #94
If you are saying that both folder zero and one are seen as the 'inbox' by the MyBB code then it seems like it is correct.

When I did a test conversion it didn't seem to display anything in my inbox but it may have been more of a side effect of the PM subject issue.

I'm not sure how the MyBB code behaves if it finds a PM with no subject set.

[2014-09-10 16:43] JN-Jones commented on #94
Hmm, seems to work for me with my test database. We will see whether it works :P

[2014-09-10 17:08] JN-Jones commented on #32
I was able to reproduce and fix it.

[2014-09-10 17:40] JN-Jones commented on #10
I can confirm that `permission_array` was removed, however I wasn't able to find how they replaced it. I've deactivated the forum permissions module for now

[2014-09-10 17:57] JN-Jones commented on #73
This is nearly ready: https://github.com/JN-Jones/merge-system/tree/module-ipb3 Just need some information from @euantorano :P I'll leave the forumpermissions module for now as it requires more testing and we can add it later.

[2014-09-13 01:56] Sama34 commented on #123
Your solution sounds feasible, maybe log all changes too (amount of occurrences)?

[2014-09-13 10:02] JN-Jones commented on #123
It's not worth to log things, the log is already very big, more than 100 entries after a normal merge.

[2014-09-13 11:46] JN-Jones commented on #34
I'm not able to reproduce this, `attachment_type` exists in my test databases.

[2014-09-13 11:50] JN-Jones commented on #3
This has been fixed with my changes to the `prepare_insert_array`.

[2014-09-13 11:50] #3 closed, assigned to nobody

[2014-09-13 12:42] Sama34 commented on #123
How is the user suppose to know there were some issues with their content then? I meant something like:

Or something, just so the user knows what happened and why (linking to a docs page).

[2014-09-13 12:57] JN-Jones commented on #123
The cleanup page says already "check everything". We'd need another counter and we'd need more checks - my suggestion would simply run substr on every string. And most (valid) values shouldn't be modified (eg an ICQ number has always 9 numbers, so a valid one is never changed, only invalid ones with more than 10 chars are cut off)

[2014-09-13 13:39] JN-Jones commented on #123
Probably we can determine the length of the field automatically and describe in the docs how to increase it? Or probably increase it dynamically? Not sure whether that works and whether it's fast enough though.

[2014-09-13 19:03] Sama34 commented on #123
What about adding the information to the module info as you suggested and then add an feature the user to increase the length of the field, so it will be their decision.

[2014-09-13 19:09] JN-Jones commented on #123
I don't like the idea about informing the user about all columns - this would require a lot of changes and new overhead. We should either ignore the user and change the values directly (like I'm doing it atm) or dynamically modify those fields. Nothing which requires user interaction.

[2014-09-13 22:40] JN-Jones commented on #123
New suggestion :P
Add a complete new module after the db configuration (or integrate it to the db one). Every "board" file contains an array with tables/columns which need to be checked (where the column length is greater than ours). The module would go through all of them, query the longest value (should be possible with something like `select length(col) where max(length(col))`) and then change

[2014-09-13 23:28] JN-Jones opened #130 "SMF 2 birthday format is wrong"
The SMF 2 users module generates the birthday as "n-j-Y" (month, day, year), however mybb expects it as "j-n-Y". This will likely also happen in SMF 1 as long as they haven't changed that. Edit: yep, happens there too.

[2014-09-14 02:06] Sama34 commented on #123
Sounds good, but wouldn't that affect for support? I mean, do we support "custom" DB schema changes? I'm not sure. But again, sounds fine to me.

[2014-09-14 08:56] JN-Jones commented on #123
You're right, changing the database would probably cause issues on upgrades... -.-
Next one: same as above, new module which checks the fields, points out that their value can't be merged, linking to a docs page with more infos (what will happen with the value, how to increase the length of the field etc). Then add an array to the modules like I suggested first with the length of the field (if it'

[2014-09-14 09:38] #130 closed, assigned to JN-Jones

[2014-09-15 08:25] #94 closed, assigned to JN-Jones

[2014-09-15 08:26] #120 closed, assigned to JN-Jones

[2014-09-15 08:26] #8 closed, assigned to JN-Jones

[2014-09-15 08:26] #16 closed, assigned to JN-Jones

[2014-09-15 08:26] #32 closed, assigned to JN-Jones

[2014-09-15 08:26] #72 closed, assigned to JN-Jones

[2014-09-15 08:26] #73 closed, assigned to JN-Jones

[2014-09-15 08:26] #74 closed, assigned to JN-Jones

[2014-09-15 08:26] #75 closed, assigned to JN-Jones

[2014-09-15 08:26] #76 closed, assigned to JN-Jones

[2014-09-15 08:26] #77 closed, assigned to JN-Jones

[2014-09-15 08:26] #78 closed, assigned to JN-Jones

[2014-09-15 08:26] #79 closed, assigned to JN-Jones

[2014-09-15 08:26] #80 closed, assigned to JN-Jones

[2014-09-15 09:22] JN-Jones opened #132 "Thread subjects aren't converted by some boards"
After the import all ' are encoded as $rsquo; There are also some other things like $ldquo; etc.

[2014-09-16 00:54] Sama34 commented on #123
I think that sounds good. I'm not that famialirized with the merge system so I don't know that good |:

[2014-09-17 09:58] #82 closed, assigned to JN-Jones

[2014-09-18 05:31] Sama34 opened #134 "Burning Board 4 only supports UTF-8 encoding"
@dtdesign pointed out that Burning Board 4 only supports UTF-8 encoding (by default, at least) so things like `encode_to_utf8()` are unnecessary.

https://github.com/mybb/merge-system/commit/35021ffd81b67f5591205629b3b8afc088b1223f#diff-3d1e68484bf6f88f70629539863da0b9R55

[2014-09-18 05:33] Sama34 opened #135 "className may change"
https://github.com/mybb/merge-system/commit/35021ffd81b67f5591205629b3b8afc088b1223f#diff-f0ef2f57ddf0bc9019494f6eb319319aR34

[2014-09-18 07:58] JN-Jones commented on #134
Note: this may affect other boards too. AFAIR IPB 4 asked only whether it should use utf8mb4 or utf8. Can't remember the other boards.

[2014-09-18 07:59] JN-Jones opened #136 "SMF 2 attachments are calculated wrong"
SMF 2 (and probably 1) save avatars like normal attachments in the same table. An easy check would be to exclude all attachments where "id_msg" is empty.

[2014-09-18 09:19] dtdesign commented on #134
By the way, we strip all characters which do not fit into MySQL's `utf8`, for example you won't encounter any emojis as they require MySQL's `utf8mb4` to be storable.

[2014-09-18 09:32] JN-Jones commented on #134
Yeah, we had that issue in the past (1.6.12 IIRC). Our db class handles that automatically now.

[2014-09-19 14:58] JN-Jones opened #137 "PHP 5.2 throws a warning"
http://community.mybb.com/thread-159555.html
I think I know where the issue is, but I need to reinstall 5.2 first.

[2014-09-20 12:55] JN-Jones commented on #137
Fixed with https://github.com/mybb/merge-system/commit/84a7fbfa163551cbbc10d51d447816deb9e1342f

[2014-09-20 12:55] #137 closed, assigned to JN-Jones

[2014-09-23 12:15] JN-Jones opened #138 "Improve BBCode Parser"
There are several issues with the current Parsers, espacially for those boards who use HTML (IPB).

We should: create an empty parser in "resources" (eg for MyBB or WBB where the BBCode is the same), create a HTML parser which parses HTML -> BBCode. Add a new variable to the board classes which indicates whether the empty, the html or a custom parser is used. And then fix the custom parsers.

[2014-09-24 06:17] Sama34 commented on #138
Why convert HTML -> BBCode? If HTML was allowed in the source forum it probably will in the end one.

[2014-09-24 06:25] euantorano commented on #138
Some boards (IPB) seem to store the HTML no matter what.

[2014-09-24 08:07] JN-Jones commented on #138
IPB (at least 4) and vanilla do that. Also there are some guys who believe allowing HTML can cause security issues (though we filter most malicious content).

[2014-09-28 07:33] JN-Jones opened #139 "usepostcount defaults to 0"
usepostcount defaults to 0 on mybb however we expect to default to 1 if not set. Fix: add it to the default array of forums and categories modules.

[2014-09-28 07:36] JN-Jones opened #140 "Add avatar module"
There are some codes in different users modules which try to copy the users avatar however none of them copies the avatar file itself. We shouldn't do that in the users module itself so we need to write a complete new module which updates the user avatars and copies there files (if needed, there are also softwares which support gravatar and/or external URLs)

[2014-09-29 08:12] JN-Jones commented on #139
There may be more: http://community.mybb.com/thread-160322-post-1106708.html#pid1106708

[2014-09-29 08:16] JN-Jones commented on #140
We decided to defer the development of this module, however the existing codes will be removed in 1.8.1

[2014-09-29 08:17] JN-Jones opened #141 "Remove testing functions"
There're some test functions which aren't used anymore so we'll remove them

[2014-09-29 12:30] #141 closed, assigned to JN-Jones

[2014-10-18 11:22] JN-Jones commented on #123
Deferring

[2014-10-18 12:14] #136 closed, assigned to JN-Jones

[2014-10-18 12:27] JN-Jones commented on #7
This has been replaced by #140

[2014-10-18 12:27] #7 closed, assigned to nobody

[2014-10-18 12:36] #139 closed, assigned to JN-Jones

[2014-10-18 19:37] #138 closed, assigned to JN-Jones

[2014-10-18 20:02] JN-Jones commented on #10
Ok, I think I figured this out. Adding to 1.8.2

[2014-10-18 22:06] JN-Jones commented on #36
@JovanJ? Otherwise I'll close this.

[2014-10-18 22:07] JN-Jones commented on #34
@JovanJ? Otherwise I'll close this.

[2014-10-18 22:09] JN-Jones commented on #25
Fixed with #136

[2014-10-18 22:09] #25 closed, assigned to nobody

[2014-10-18 22:15] JN-Jones commented on #13
This seems to be a common issue, however it's a weird one: Persian (and any other non west European) characters can't be saved as latin1 and there's no way with php's default functions to convert them back to utf8. So vb (and probably ipb) seem to do some magic here. Someone (likely me :P) needs to search in their files how exactly they handle those characters and improve our utf8/convert function

[2014-10-20 12:03] JN-Jones opened #143 "Database configuration page shows the databases WE support, not the ones the merge forum supports"
The DB configuration page shows MySQL(i), PgSQL and SQLite for every forum, however not all of them support those databases. Instead the select box should only show those databases that are actual supported. (See also http://community.mybb.com/thread-159769.html).

In addition the table prefix textbox seems to be different for all database engines, it should be a fixed field and shouldn't be chang

[2014-10-21 18:19] JN-Jones opened #144 "vB4 attachments are unapproved"
We check the `visible` column but it seems that it was renamed in vb4 to `state`. This should be fixed in 1.8.1

[2014-10-21 19:40] #144 closed, assigned to JN-Jones

[2014-10-21 19:41] JN-Jones opened #145 "vB attachments module throws an error with the log"
As vB saves the file in the database our log class tries to insert the file to a `varchar` column which throws an error (same for the thumbnail)

[2014-10-21 19:43] #145 closed, assigned to JN-Jones

[2014-10-24 12:05] #36 closed, assigned to nobody

[2014-10-24 12:05] #34 closed, assigned to nobody

[2014-10-24 12:07] JN-Jones commented on #23
Normally files should be merged, at least I hadn't any issue so far. However I'll leave this open as I need to check the thing mentioned above: vb attachments are only copied from the database (default setting for vb), but apparently there's a setting somewhere.

[2014-10-24 12:59] JN-Jones commented on #24
Reopening as we readded vB3

[2014-10-24 16:56] JN-Jones commented on #101
Ok, I was wrong above: it doesn't work (but it throws no errors). Additional groups aren't merged at all. Some boards even add users to the completly wrong usergroup.

[2014-10-24 16:59] JN-Jones commented on #132
This also applies to vB 3 and vB 4

[2014-10-24 17:01] JN-Jones opened #146 "[vB4] Polls are attached to all threads"
Restore query from vB4 polls module:

[code]

As `$thread` isn't defined anywhere the poll is added to (nearly) all threads.

[2014-10-24 17:03] JN-Jones opened #147 "WBB polls aren't attached to their threads"
Though they're merged correctly, the `poll` column in the threads table isn't updated properly.

[2014-10-24 17:04] JN-Jones opened #148 "SMF Poll votes aren't merged properly"
As they start counting with 0 and we with 1 the votes are wrong.

[2014-10-24 17:07] JN-Jones opened #149 "[SMF1] Poll votes aren't attached correctly"
The poll votes module uses `import_pid` but it isn't set in the polls module. There's also another small issue in the cache handler.

[2014-10-24 17:08] JN-Jones opened #150 "[IPB4] Forums/Groups are translatable"
Forums and Groups (and probably some other things) are saved as translation strings instead of using the `title`/`name` columns which are empty. We'd need to get the default language and the correct language string (all saved in the db)

[2014-10-24 17:09] JN-Jones opened #151 "[IPB4] Strings not properly escaped"
I've used "äöü" as testing subject and body and both wasn't converted properly. Same may apply to other parts.

[2014-10-24 17:11] JN-Jones opened #152 "[IPB4] Polls aren't merged"
Running the polls module throws two warning (for both `foreach` loops) and doesn't merge the poll. After fixing this, the poll votes module needs to be checked too as it's likely not working too.

[2014-10-24 17:17] JN-Jones opened #153 "Forumpermissions module should at least merge the "canview" permissions"
This isn't merged for:
- [x] SMF (1 & 2)
- [x] WBB (3 & 4), don't have a forumpermissions module at all
- [x] IPB 3 (should be after fixing that module)
- [x] MyBB (we don't have a forumpermission module here???)
- [x] phpBB 3 (there's a module and it contains code to merge it, but it doesn't seem to work)
- [ ] XenForo (no module)

[2014-10-24 17:37] #148 closed, assigned to JN-Jones

[2014-10-24 17:37] #149 closed, assigned to JN-Jones

[2014-10-24 17:45] #146 closed, assigned to JN-Jones

[2014-10-24 17:53] #147 closed, assigned to JN-Jones

[2014-10-25 09:34] JN-Jones opened #154 "lastactive and lastvisit can be "0""
Empty values (like "0" and "") are used by some boards as "Was never online", however MyBB shows it as "Less than 1 minute ago". The fields should default to the time of the merge if they're not available.

[2014-10-25 09:35] #154 closed, assigned to JN-Jones

[2014-10-25 17:05] Stefan-MyBB commented on #154
@JN-Jones Why not changing it to the registration date?

[2014-10-25 18:28] JN-Jones commented on #154
Dylan defaulted to TIME_NOW everywhere (poll creation dates, poll votes and so on) so I simply did it as its done everywhere else. Though I agree, I'd create another issue for that and change it everywhere than having it different in some modules.

[2014-10-26 12:30] Sama34 commented on #101
Someone probably suggested it to use it in private converters long ago. I believe much code was for that purpose.

[2014-10-26 14:14] JN-Jones commented on #101
The comment was just about the original paramater - if it's set the function simply returns exactly the same gids that are used as parameters. The only thing some of the functions do if the original parameter is set is imploding an array. Also there's no need for us to support other modules that we're not supporting. I likely broke most of them anyways as I've changed already a lot of things.

[2014-10-31 20:53] #14 closed, assigned to JN-Jones

[2014-10-31 20:54] JN-Jones opened #156 "phpBB 3.1"
phpBB 3.1 was released and broke a few little things. If possible those should be integrated to the phpBB 3 module, if not we need to create a new module.

[2014-10-31 22:30] #156 closed, assigned to JN-Jones

[2014-11-01 19:51] #10 closed, assigned to JN-Jones

[2014-11-09 18:47] JN-Jones commented on #143
Reopening this as this results in an error if no database is supported

[2015-02-12 10:46] ATofighi opened #158 "Merge System doesn't work with MyBB 1.8.4"
[code]

[2015-02-12 10:54] JN-Jones commented on #158
Ah, @euantorano changes. We need to fix the 1.8.3 package, the version here on GitHub is already modified but isn't release ready due some incomplete fixes.

[2015-02-12 10:57] euantorano commented on #158
Yep, my fault. Sorry! :wink:

[2015-02-12 11:12] ATofighi commented on #158
:)
If we don't want to change merge-system we can change the db_***.php files

[2015-02-12 11:14] JN-Jones commented on #158
They're included in the mybb package so that isn't an option. We simply need to release merge system 1.8.4 based on the 1.8.3 package, fixing this issue and changing the version info.

[2015-02-12 11:16] ATofighi commented on #158
@JN-Jones we can only add

[code]

 to `inc/db_mysql.php` and `inc/db_mysqli.php` and don't release new merge-system! :)

[2015-02-12 11:19] JN-Jones commented on #158
Thats something @euantorano needs to decide as he was the one writing the base class.

[2015-02-12 11:22] euantorano commented on #158
I'd say it's better to edit the merge system. IMO the class files should contain only the classes, nothing else. This is a standard convention in PHP.

[2015-02-13 07:49] Sama34 commented on #158
Even if the change is minimal a new version should be released.

[2015-02-13 10:10] JN-Jones commented on #158
There's no discussion about **whether** this should be fixed, only about **how** and **where**?

[2015-02-13 19:37] Sama34 commented on #158
Per @ATofighi comments I understand he suggest to change the package only t oa minimum without marking a new release.

His fix looks good to me anyways. I seems to be backwards compatible.

[2015-02-16 17:34] #158 closed, assigned to ATofighi

[2015-03-27 19:39] #22 closed, assigned to JN-Jones

[2015-03-27 19:40] JN-Jones opened #160 "XenForo forumpermissions module"
The XenForo module should get a forumpermissions module too. @euantorano planned to take a look.

[2015-03-27 19:40] JN-Jones commented on #153
This has been finally fixed. #160 is the issue for XenForo now

[2015-03-27 19:40] #153 closed, assigned to JN-Jones

[2015-03-28 12:35] JN-Jones opened #161 "Assuming that moderators are always users and not groups"
The mybb moderators module assumes that all moderators are users:

[code]

However the `isgroup` column is correctly merged. This can result in granting permissions to unknown groups as the `id` is messed up.

[2015-03-28 12:37] #161 closed, assigned to JN-Jones

[2015-03-28 12:39] JN-Jones opened #162 "Forums module uses undefined variable"
The `import` function uses an undefined variable:

[code]

`$insert_forum` is nowhere defined so the `if` will always be `false`. As I wasn't able to find any issues so far and the `parentlist` is updated in the `cleanup` function anyways I'll simply remove the `if`.

[2015-03-28 12:39] #162 closed, assigned to JN-Jones

[2015-03-28 12:45] JN-Jones opened #163 "Useless check in users module"
[code]

First of all `$output` isn't defined there and on the other hand the `if` will never be true as the `fetch_total` function get's the number of users and we're using a limit on the query which is then checked against the remaining number of users and `import` is never called when there's no user left.

[2015-03-28 12:45] #163 closed, assigned to JN-Jones

[2015-03-28 13:35] JN-Jones opened #164 "Multiple undefined variables in punbb's post module"
- `if($insert_post['replyto'] == 0)` (line 34)
- `if($first_data == $data['post_id'])` (line 58)
- `return $results;` (line 117)

[2015-03-28 14:59] JN-Jones opened #165 "Soft Deleted users"
Vanilla has a column `Deleted` for users which seems to be used for soft deleting user (to be confirmed) so the question is: how do we handle those users? Either skip the user and delete it or ban him?

[2015-03-28 16:16] JN-Jones commented on #101
This is fixed now. `get_group_id` was moved to the main board class as it's the same for all boards except bbPress; all parameters were useless and therefor removed.

[2015-03-28 16:16] #101 closed, assigned to JN-Jones

[2015-03-28 17:33] JN-Jones commented on #165
Note: this may apply to other boards too, forgot to take a look there

[2015-03-28 17:34] euantorano commented on #165
I'd say just skip the user and don't import.

[2015-03-29 04:14] Sama34 commented on #165
Since we do not support anything of the sort yes, skip them.

[2015-03-29 12:31] #164 closed, assigned to JN-Jones

[2015-03-29 12:32] JN-Jones opened #166 "Username not escaped in posts module"
http://community.mybb.com/thread-168825.html

[2015-03-29 12:36] #166 closed, assigned to JN-Jones

[2015-03-29 13:47] #132 closed, assigned to JN-Jones

[2015-03-29 13:50] JN-Jones opened #167 "Cleanup code"
As mentioned on slack: The code needs to be cleaned up. There are quite a lot of places where we define a variable but never use it or use a variable that's never used. Same for functions. Also sometimes functions are added to the wrong class. A lot of php doc blocks are wrong. Developing the merge system with an IDE doesn't make fun at the moment as you get too many errors.

I heard @euantorano v

[2015-03-29 14:03] #143 closed, assigned to JN-Jones

[2015-03-29 14:31] #165 closed, assigned to JN-Jones

[2015-03-29 15:51] #30 closed, assigned to JN-Jones

[2015-03-30 15:01] JN-Jones opened #168 "[IPB 4] PMs not properly merged"
#97

The fix for IPB 3 https://github.com/mybb/merge-system/commit/f33c2f83057c8b5af02b5105dd06c8d130bbb56b needs to be ported to IPB 4

[2015-03-30 18:46] JN-Jones commented on #97
All modules merge now a copy per user so every user participated in a conversation/pm gets his copy now. However there are some options/settings to test:
- Answered has a special status. If the merge board has that status too (or it's easily testable) we should properly set it. If we would need to some SQL magic we can ignore it
- Same for forwarded messages (not supported by all modules)
- Delete

[2015-03-31 13:47] MacounDe opened #169 "[WBB] Avatars not importet"
Importing from WoltLab BurningBoard 4.0 to myBB.
The import runs without errors. But all the Avatars of the users were not imported and are completely missing in myBB. The avatar column of the user table of the myBB database is empty.

[2015-03-31 13:53] JN-Jones commented on #169
Avatars aren't merged by the merge system and it never mentions that they will.
https://github.com/mybb/merge-system/issues/140

[2015-03-31 13:53] #169 closed, assigned to nobody

[2015-03-31 14:28] MacounDe commented on #169
Ouch. That's bad.

Thanks for your quick response.

[2015-03-31 14:49] JN-Jones commented on #97
Only WBB 3 & 4 and XenForo are missing.

[2015-04-01 01:23] dprotas opened #171 "[vB 3.5.x] PM not properly converted"
When merging from a vBulletin 3.5.x database, PMs are not properly converted. The toid and the recipients fields are left blank.

Looking at the code it tries to extract recipients from the cc and bcc nested arrays inside touserarray array. Prior to vB 3.6, those nested arrays didn't exist, recipients were stored directly as id=>username into the touserarray array.

[2015-04-01 01:43] #171 closed, assigned to nobody

[2015-04-01 10:44] JN-Jones commented on #171
I've reverted your PR as we only support the latest version (3.8.8). However as I haven't found any change to `touserarray` in their update script I've modified the foreach to look like the one they use so theoretically this is still fixed.
Also the same applied to vB 4 which still has the extra check.

[2015-04-01 12:11] JN-Jones commented on #97
This is finally fixed.

[2015-04-01 12:11] #97 closed, assigned to JN-Jones

[2015-04-01 15:38] JN-Jones commented on #15
I'm pretty sure I've added a lot of html checks to the merge system lately so probably this doesn't affect IPB 3 anymore. Going to check those columns later so keeping this issue for now

[2015-04-01 15:39] JN-Jones commented on #24
This has been fixed with #97.

[2015-04-01 15:39] #24 closed, assigned to JN-Jones

[2015-04-01 15:43] JN-Jones commented on #68
Whoever checks this (yeah, likely me again) should also check whether we really need the tracker. Eg we never need the `import_pmid` one as none of the other modules uses it. Same for the usergroup trackers, as the usergroup module needs to be run before the users module the users module already updates the usergroups and (afaik) none of the other modules needs the old ids.

[2015-04-01 16:02] JN-Jones commented on #134
This is related to #13. We need to discuss what we should do in those cases. I had already heated discussions with users where the database was corrupted (originally utf8 but exported as latin1) and they claimed that the original board seemed to work. Probably we should do something like I did with #143 and only show encodings which are really supported (we'd need to retest all installers/search f

[2015-04-01 16:18] dtdesign commented on #134
@JN-Jones Feel free to approach us by email to woltlab@woltlab.com

[2015-04-03 19:56] Sama34 commented on #68
Plugins can make use of that data during or after the merge is complete, don't you agree?

[2015-04-03 20:06] JN-Jones commented on #68
There isn't any plugin system in the merge system (that'd be funny - it's already more than complicated and nobody wants to work on it, imagine considering plugins destroying everything). And trackers are removed after the merge as there isn't any need of them later.

[2015-04-14 20:42] JN-Jones opened #172 "Smilies"
phpBB saves smilies in an odd way so they can't be merged automatically.

[2015-05-14 11:19] #150 closed, assigned to JN-Jones

[2015-05-14 11:52] #151 closed, assigned to JN-Jones

[2015-05-14 12:18] #152 closed, assigned to JN-Jones

[2015-05-14 12:43] #168 closed, assigned to JN-Jones

[2015-05-14 13:03] JN-Jones opened #173 "[IPB4] Attachment BBCode/HTML"
IPB 4 doesn't have a proper Attachment code, instead it inserts them as a link:

Non-images:

[code]

Images:

[code]

Inline Images:

[code]

And I'd bet that the old IPB 3 code isn't updated so we also need to check `[attachment={id}:{name}]`.

The first two codes should be removed as we show attachments anyways, the third one needs to be updated. Also the regex for this needs to be added as one

[2015-06-10 08:35] JN-Jones commented on #123
Any other opinions before I start with this? @euantorano @Destroy666x

[2015-06-10 10:32] JN-Jones commented on #167
TODO:
- [ ] Make some classes abstract
- [x] Remove closing php tag
- [x] Class output globalizes `$output` 2-times, instead of using `$this`
- [x] Instead of doing `if(method_exists) -> callMethod` the method should be added as empty method to the parent class
- [x] Update file headers, some still say MyBB 1.6
- [ ] Testing

[2015-06-10 12:26] euantorano commented on #167
Yes, I'll fix the doc blocks, etc. I'll work on it over this month/next month.

[2015-06-10 12:27] JN-Jones commented on #167
You're too late to the party ;)

[2015-06-10 12:28] JN-Jones commented on #105
Another thing to check: There's a `logs` directory which doesn't seem to be used. Logs are saved in the database.

[2015-06-10 15:01] euantorano commented on #167
:(

[2015-06-10 20:26] JN-Jones commented on #167
Be happy - it took me more than 4 hours ;)

[2015-06-11 08:49] euantorano commented on #167
Ouch. Rather you than me!

[2015-06-15 07:16] JN-Jones commented on #167
Ok, hopefully fixed most things now. I'll leave this open for now as I haven't tested it yet.

[2015-06-15 07:23] JN-Jones opened #174 "Move attachment copying to parent class"
Atm every attachment module has a `after_insert` function which basically looks like this for all boards:

[code]

Mostly the `merge_fetch_remote_file($import_session['uploadspath'].'/'.$data['attach_location'])` part changes. As we already have function like `generate_raw_filename` we can move that function to the general class.

[2015-06-15 07:29] JN-Jones commented on #174
At least the phpbb 3 module also tries to update the attachment counter:

[code]

As we want to add the counter logic to the merge system (avoid running the recount/rebuild tools) that part should also be included.

[2015-06-15 09:19] JN-Jones commented on #174
I've also decided to simplify the uploadspath process, it's pretty much the same.

[2015-06-15 10:17] #174 closed, assigned to JN-Jones

[2015-06-15 11:03] JN-Jones commented on #140
Work on this has started in the [fix-140-avatars_module](https://github.com/mybb/merge-system/tree/fix-140-avatars_module) branch. Keeping this out of feature for now as this may take some time and I want to be able to release 1.8.6 even without this.

[2015-06-16 12:01] JN-Jones commented on #31
This has been started in a seperate branch too.

[2015-06-16 13:42] #167 closed, assigned to JN-Jones

[2015-06-16 14:23] JN-Jones commented on #167
This is finished now

[2015-06-16 15:11] JN-Jones commented on #18
Duplicate of #23 (don't know why I haven't closed this yet...)

[2015-06-16 15:11] #18 closed, assigned to nobody

[2015-06-16 15:12] JN-Jones opened #175 "vb attachments as files"
vB saves attachments in the database by default, however apparently there's a setting somewhere. We're only merging database files atm but we should check that setting.

[2015-06-16 15:13] JN-Jones commented on #23
The vb issue is now #175. Keeping this one open for future "attachments doesn't work" issues.

[2015-06-16 17:02] JN-Jones commented on #31
This should be finished now. I can't test it atm with bigger boards therefore I'll keep this open till I do so.

[2015-06-17 11:10] #68 closed, assigned to JN-Jones

[2015-06-17 19:52] JN-Jones commented on #31
Tested with several boards and couldn't find any issues.

[2015-06-17 19:52] #31 closed, assigned to JN-Jones

[2015-06-18 07:35] JN-Jones opened #176 "Guest usernames not merged"
Guest usernames aren't merged from mybb, instead "guest" is shown.

[2015-06-18 07:36] #176 closed, assigned to JN-Jones

[2015-06-18 07:47] JN-Jones opened #177 "Be smart - hide modules that won't run"
Atm the modules have dependencies and as soon as the first module is run you can run the second. However if the first hadn't any results the second won't have any too. (eg if no polls are imported we won't import any pollvotes either). Instead we should mark those modules as "run" too.

List of those modules:
- [x] Forums -> Forumpermissions
- [x] Forums -> Threads
- [x] Threads -> Polls
- [x] Pol

[2015-06-18 10:44] #177 closed, assigned to JN-Jones

[2015-06-18 11:35] JN-Jones commented on #123
Started with this in a seperate branch.

[2015-06-18 22:16] euantorano commented on #123
Sounds like the best solution. The docs page should make clear the potential issues of changing the field length too. It should also be made clear that the values will need re-inserting/updating once the column is manually changed.

[2015-06-18 23:10] Destroy666x commented on #123
Yep. Otherwise there would be no point.

[2015-06-19 01:23] Sama34 commented on #123
I may be mixing things but I think the column should be changed before the script is executed.

[2015-06-19 10:13] JN-Jones commented on #123
Exactly. That module would be run directly after we connected to the database so before anything gets inserted. And of course it'd point out possible issues ;)

[2015-06-20 21:15] JN-Jones commented on #123
So, the basic functions have been added. Note that I haven't tested it with large databases. Mainly the output needs to be formatted now. If anyone has anything to mention feel free to do so before.

[2015-06-21 10:08] JN-Jones commented on #123
Docs page @euantorano @Destroy666x @Sama34 http://docs.mybb.com/1.8/merge/column-length-check/

[2015-06-21 11:58] JN-Jones commented on #123
Finished this. Still need to test it with my test databases but the error notice seems to work as it should.

[2015-06-21 12:07] JN-Jones opened #178 "Thumbnail merging"
As discussed internally: Instead of merging the thumbnails we should do the following:
- On the attachments per screen page ask the user whether we should generate thumbnails. Also add a notice about changing settings and rerunning the thumbnail creation after the merge. Default is 'Yes'
- After the attachment has been copied (`after_insert`) we check that setting and create the thumbnail there.

[2015-06-21 13:22] #178 closed, assigned to JN-Jones

[2015-06-21 19:28] Sama34 commented on #123
The doc page seems fine.

[2015-06-23 19:57] euantorano commented on #123
Could we add a screenshot of the error page to the docs possibly? Might help users in some cases. Otherwise, everything looks good to me.

[2015-06-23 20:36] JN-Jones commented on #123
There wasn't an error page when I wrote the page :P But yeah, will include one after I've tested it on one of my Big Boards.

[2015-06-24 09:08] JN-Jones commented on #175
Setting: `Admin CP -> Attachments -> Attachment Storage Type`. Only need to find time to look in the database and rewrite the module.

[2015-06-24 10:37] JN-Jones commented on #123
Added the screenshot

[2015-06-24 11:15] JN-Jones commented on #69
Closing this as it would take quite some time while it works the way it is without major problems. Should be kept in mind for 2.0 though.

[2015-06-24 11:15] #69 closed, assigned to nobody

[2015-06-24 13:09] JN-Jones commented on #172
Apparently other boards save the smiley path too instead of the simple smiley: http://community.mybb.com/thread-172167.html

[2015-06-26 10:16] #123 closed, assigned to JN-Jones

[2015-06-26 10:19] JN-Jones commented on #123
Fixed the issues I've noticed while testing and merged this.

[2015-06-27 20:19] Sama34 commented on #140
@Sama34

[2015-07-02 12:58] JN-Jones opened #179 "Make sure that all forums have a parent category"
Some softwares allow forums without a parent category, however we require a category and forums without a category aren't shown. For some boards (like Vanilla) which have only categories the merge system already creates a parent category, however boards like phpBB have apparently both and only the category -> forum ones are correctly displayed. The merge system should loop through all imported for

[2015-07-02 13:06] JN-Jones commented on #179
Probably better:

[code]

[2015-07-06 06:53] JN-Jones opened #180 "Moderator module"
The moderator module is one of the few modules I haven't touched yet and some of them are pretty buggy. Eg the IPB 3 one seems to select group moderators but skips them later again which could cause #89. Also some other boards merge group moderators wrong (#33). All of them should be rechecked and both, user and group moderators, should be merged. Note that global moderators/group dependencies are

[2015-07-08 13:27] #179 closed, assigned to JN-Jones

[2015-07-08 19:05] JN-Jones commented on #175
Note that this may also apply to avatars which are also saved in the database by default.

[2015-07-09 10:17] #140 closed, assigned to JN-Jones

[2015-07-09 19:44] #175 closed, assigned to JN-Jones

[2015-07-13 15:43] ghost commented on #172
I added those lines to boards\phpbb3\posts.php seems to work pretty well :smile:

`$insert_data['message'] = preg_replace('//', '', $insert_data['message']);`

[2015-07-14 12:21] JN-Jones commented on #172
That's definitely not the correct solution. First of all those regex should be added to the bbparser file (otherwise eg PMs aren't parsed). And secondly you simply remove every piece of text which looks like a comment. Eg:

Your regex would react on that message. Same for the second one.

[2015-07-14 23:05] z0fa commented on #172
Of course that isn't the correct solution, but I have used this method because a fix wasn't available so i decided to share it...

[2015-09-14 16:09] JN-Jones opened #182 "Orphaned attachments may cause error"
If the old database contains an attachment row associated with a deleted post it may cause sql errors as "our" pid will be `NULL`. As we don't want to have orphaned attachments they shouldn't be merged at all.

[2015-09-14 16:56] #182 closed, assigned to JN-Jones

[2015-09-24 14:46] JN-Jones opened #183 "Dependencies checker doesn't check whether module exists"
As reported here: http://community.mybb.com/thread-180482.html

`mark_dependencies_as_run` doesn't check whether the modules exist which then throws an error.

[2015-09-24 14:48] #183 closed, assigned to JN-Jones

[2015-10-18 11:48] Stefan-MyBB opened #184 "phpBB import timezone problem"
Merge System fails when a user hasn't set a valid timezone:
`Uncaught exception 'Exception' with message 'DateTimeZone::__construct(): Unknown or bad timezone ()`

[2015-10-19 13:37] JN-Jones commented on #184
In the latest version? There's a try/catch block around it: https://github.com/mybb/merge-system/commit/d3fc5fd9e47a75b50b53368e891b1ef81000b3f6

[2015-10-19 15:22] Stefan-MyBB commented on #184
I guess that fixed it...

[2015-10-19 15:22] #184 closed, assigned to nobody

[2015-10-20 14:01] JN-Jones opened #185 "edituid not converted"
At least from MyBB to MyBB: http://community.mybb.com/thread-185217.html

[2015-10-22 01:03] EvilDragon commented on #152
Doesn't seem to be fixed for me :(
I confirmed that I'm using the fixed version, but I also get foreach-errors (the merger continues too fast as I could check the exact error message).
After that, the merger continues with 0 of 0 polls to import and finishes.

Poll votes of course doesn't work as no polls have been imported.

Using IPB 4.0.13

[2015-10-22 22:30] TheGameGuard opened #186 "Bug Merge Xenforo attachment Module"
Database and table correct I checked .
Posts , Users, Threads all merged but attachments re not importing

Error Page
![image](https://cloud.githubusercontent.com/assets/15255639/10680348/77ff78f6-7927-11e5-8505-c061a91e298f.png)

[2015-10-23 14:02] #186 closed, assigned to JN-Jones

[2015-10-23 14:03] JN-Jones commented on #186
Hi,

There was a small spelling mistake in one of the variables which I've fixed now. However please report issues on our forum in the future.

[2015-10-23 14:05] JN-Jones commented on #152
Hi,

please use our forum for support. You can get the exact error message(s) by uploading https://github.com/JN-Jones/Merge-Log-Viewer which adds a new module to your MyBB ACP.

[2015-10-28 10:01] JN-Jones commented on #185
To be rechecked:
- [x] MyBB (not converted)
- [x] SMF 1 & 2 (Queries our database to get the uid which won't work as usernames can be modifed)

[2015-11-06 12:06] JN-Jones opened #187 "edit data not converted"
From #185
- [ ] bbPress (edit data not merged at all)
- [ ] phpBB (edit data not merged)
- [ ] Vanilla (not sure whether they save that data)
- [ ] WBB 3 & 4 (edit data not merged)
- [ ] XenForo (edit data not merged)

[2015-11-06 12:06] JN-Jones commented on #185
Moved the rest to #187

[2015-11-06 12:06] #185 closed, assigned to JN-Jones

[2015-11-09 21:00] LazloPsylus opened #188 "Typo in IPB4 PollVotes"
Line 60, prepare_insert_array uses a period to separate arguments for the function rather than a comma. This was pointed out on the support forums with no response. Might be a good idea to correct this, as this can stall conversions hard.

[2015-11-10 17:18] ATofighi opened #189 "SQL error if $converted_data['pid'] is empty"
https://github.com/mybb/merge-system/blob/feature/resources/modules/attachments.php#L287-L292

Reported from: [http://my-bb.ir/Thread-حلشده-انتقال-مطالب-و-پستهای-انجمن-به-انجمن-دیگ](http://my-bb.ir/Thread-حلشده-انتقال-مطالب-و-پستهای-انجمن-به-انجمن-دیگر)

[2015-11-10 22:11] JN-Jones commented on #189
Are you sure this isn't a duplicate of #182?

[2015-11-11 09:33] #188 closed, assigned to JN-Jones

[2015-11-11 09:34] JN-Jones commented on #188
Thanks, I've fixed it and will include it in the next release.

[2015-11-11 14:29] #189 closed, assigned to nobody

[2015-12-01 07:14] ghost opened #190 "string interpolation 0 value bug"
in /resource/modules/attachments.php, line 288:

`$query = $db->simple_select("posts", "tid", "pid={$converted_data['pid']}");`

When pid = 0 it becomes an empty string on php 5.4.x

[2015-12-01 09:43] Stefan-MyBB commented on #190
Duplicate of #182?

[2015-12-04 09:26] #190 closed, assigned to nobody

[2016-01-20 09:03] sc4t opened #192 "SQL Error xf_attachment"
I have an error with the xenforo converter

MyBB SQL Error
MyBB has experienced an internal SQL error and cannot continue.

SQL Error:
1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'FROM xf_attachment' at line 1
Query:
SELECT FROM xf_attachment
Please contact the MyBB Group for technical support.

[2016-01-20 10:26] JN-Jones commented on #192
Please use the support forums for support. As said there this is likely a duplicate of #186

[2016-01-23 00:53] Miaourt commented on #186
Same here :'(

[2016-01-23 11:16] JN-Jones commented on #186
This is fixed - however as you can see it's in the 1.8.7 milestone so of course it isn't fixed in the latest release. If you want to have a working merge system you need to use the development version but as always we're not giving support for that.

[2016-01-23 12:09] Miaourt commented on #186
I think i could give it a try, simply download the repo and i put it in a "merge" folder ?

[2016-01-23 23:24] JN-Jones commented on #186
Yeah, just download it and upload it the same way you did with the official package.

[2016-01-28 21:47] Miaourt commented on #186
Sorry, I forget to feedback, the master branch worked perfectly, I have merged both xenforo and phpbb3.1 in my new sweet Mybb forum ^^

[2016-02-01 14:38] JN-Jones commented on #192
Closing this as no feedback was provided.

[2016-02-01 14:38] #192 closed, assigned to nobody

[2016-02-16 21:37] krzyc opened #193 "[IPB4] Usernames with polish chars are imported incorrectly"
Usernames with polish chas are imported incorrectly e.g. Bogusław is imported as BogusÅaw. Other fields as far as I know are imported correctly.

It is probably caused by encode_to_utf8 method.

**Disabling UTF-8 conversion in merge configuration fixes the problem.**

[2016-03-06 13:11] ToeiRei opened #194 "Converting Vanilla2-Board"
Hi guys,

I tried to migrate from Vanilla2 and run into the following issue:

Vanilla table names:    GDN_Role
What merger expects:    GDN_role

My solution was hacking the group names (caps) in the merger files as I didn't want to alter the live system of the vanilla (to be merged). Looks like Vanilla 2.2 got the names in CamelCase...

[2016-03-06 15:05] ToeiRei commented on #194
After changing the merger a bit, I could get things to work. Patch here:
https://git.stargazer.at/vbauer/mybb-merger/commit/192156d69069963e141f44ef2cecd2810f213599.patch

[2016-04-25 02:23] OzWookiee opened #195 "[IPB3] Converting Private Messages"
Got the following error when importing our IPB 3.1.4:

---

Private Message
MyBB has experienced an internal SQL error and cannot continue.

SQL Error:
1064 - You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'AND map_user_id!=1456 AND map_user_active=1' at line 1
Query:
SELECT \* FROM TAG_message_topic_user_map WH

[2016-05-06 09:43] JN-Jones commented on #193
Seems to be fixed then.

[2016-05-06 09:43] #193 closed, assigned to nobody

[2016-05-06 09:45] JN-Jones commented on #194
This has been reported before IIRC. Still need to check how Vanilla handles there upgrades and whether it's save to simply change it or whether we need to test for it.

[2016-05-06 09:50] JN-Jones commented on #195
Odd, didn't know there can be messages without a topic (which doesn't make sense normally). Need to look at the cause and how this should be handled.

[2016-05-07 13:34] JN-Jones opened #196 "Research vBulletin moved thread"
Source in the thread modules:

[code]

As `int_to_01` never returns `no` the first `if` is never used. While I can confirm that all threads where `open` has the value 10 have a `pollid` I'm not sure whether vb really uses the pollid column as moved thread id column which looks simply wrong...

[2016-05-07 14:45] JN-Jones opened #197 "Handle orphaned data"
We already had an issue with orphaned attachment and while writing the vb5 module I had the same issue with posts. As a simple solution is possible for nearly all modules it should be added. After the `prepare_insert_array` (also after the log call) simply add

[code]

Ofc modified for the module (tid and posts replaced with the correct variables)

[2016-05-08 13:16] JN-Jones commented on #81
I've added most modules, however I wasn't able to get the polls module working so I've skipped that for now. Also the attachment modules needs to be better tested and someone needs to look into their password manager

[2016-05-24 12:02] baronerosso opened #198 "error merging vBulletin 3"
error margin from vBulltin 3 with PHP: 7.0.4-7ubuntu2 , Apache/2.4.18, MySql 5.7.12-0ubuntu1

merging Posts

Warning [2] preg_replace(): The /e modifier is no longer supported, use preg_replace_callback instead - Line: 730 - File: merge/resources/functions.php PHP 7.0.4-7ubuntu2 (Linux)

[Senza titolo.pdf](https://github.com/mybb/merge-system/files/279414/Senza.titolo.pdf)

[2016-05-24 16:08] #198 closed, assigned to nobody

[2017-03-24 07:29] andrewjs18 opened #201 "[VB3] threads & posts warnings with php 7.X"
when importing threads:
![031 02 59](https://cloud.githubusercontent.com/assets/2748980/24284506/fd51779a-1041-11e7-8722-8fbecbfb7995.jpg)

when importing posts:
![032 03 02](https://cloud.githubusercontent.com/assets/2748980/24284509/053991fe-1042-11e7-8d38-08297ac01182.jpg)

[2017-04-04 18:05] Stefan-MyBB opened #203 "utf8mb4 not detected as UTF-8"
utf8mb4 is missing here:
[code]

[2017-04-04 18:09] #203 closed, assigned to Stefan-MyBB

[2017-05-08 01:27] dresch86 opened #205 "[SMF2] Possible Merge System Typo Error?"
I have a question about this section of the forum permission merger for SMF:

[code]

Shouldn't the bottom else block set canview to 1? I don't see anywhere where canview gets set to 1 and the value defaults to 0 so an update shouldn't be required unless you need to allow view access.

The main reason I ask is I'm working on developing a Java merge system designed to handle the conversion of large

[2018-05-27 22:21] frostschutz opened #208 "avatar dimensions height|width should be width|height"
A user in german forum reported distorted/squashed avatars after merge, and unless I'm completely misreading things, the merge system switched width and height?

makes no difference for avatars that are square, hard to notice for avatars that are almost square, but for portrait/landscape avatars they get their dimensions distorted.

According to MyBB code it should be width|height, not height|widt

[2018-05-28 07:32] AndreRl commented on #208
Interesting find, although development for the merge system has seized.

[2018-05-28 11:00] euantorano commented on #208
For an issue like this that’s easy to patch, I see no reason to reject a PR or anything if anybody has a chance to write one.

[2018-05-28 11:14] frostschutz commented on #208
issues should be reported either way

it's open source, maybe someone will pick it up, or it will be necessary to do a minor update release for mybb 1.9, who knows

there is not much development necessary for a merger that is mostly in working order and will be used only once

so I'm just leaving this here. also came up with some queries to flip the height|width values after merge, still untested

[2018-06-19 22:59] edipoferreira opened #209 "Merge system - issue importing from phpbb3 utf8-bin - duplicated entrie"
Hi, I'm trying to use the merge but when importin users I have issue with names with special characters, let me show:
On the phpbb I have two users
jonatas and Jônatas, the encode is utf8_bin, but when mybb try to import, he considere jonatas and Jônatas the same user and because that issue a message of duplicated entry.

Have anyone faced this problem?
Tried a couple of configurations for encode

[2018-06-20 06:25] euantorano commented on #209
That’s an interesting one. The duplicate check is done in the code I believe, and it perhaps doesn’t do that in a way that understand what’s going on. We’ll have to take a look, though the merge system at the minute is mostly unmaintained.

[2018-06-20 11:28] edipoferreira commented on #209
I think that is a issue with the used collation, I installed a fresh version of the mybb, I tried create both users to test, no sucess, because the collation it compares Jônatas with jonatas and take them as equal. After my conversion to utf8_bin the second user was created normally.
I opened a issue on the mybb code to see if I can maintain the username field as utf8-bin.
https://github.com/mybb/

[2018-07-25 19:27] euantorano opened #210 "Issues merging into MyBB 1.8.16+"
https://community.mybb.com/thread-218590.html

These issues are caused by the removal of some contact fields such as AIM in 1.8.16, and stop merges working at all.

[2018-08-21 13:44] kat-kta opened #211 "Post and Thread visibility error"
The merge system when merging an old mybb database with a freshly installed new one, changes visibility of all posts and threads to a positive number, so all drafts (visibility -2) and deleted posts (visitbility -1) are suddenly visibility 9 which makes them searchable and counted in the profiles.

[2018-08-27 05:47] AndreRl commented on #210
This has been an issue as of late. What would be the preferred way of handling this? Temporarily putting the `aim` field back for the merge and warning users that the said data will be removed due to aim no longer being supported? Or creating a separate mybb_users table structure for 1.8.16+? @euantorano

[2018-10-30 11:19] #210 closed, assigned to nobody

[2019-03-11 12:29] Skyridr opened #215 "vB4 Merger - Invalid user specified for "get_upload_avatar_name""
I'm attempting to convert/merge a vB 4.2.5 database to MyBB 1.8.20

While most of it went smoothly, I'm stuck on the avatar import.

I keep getting the following error:

Any clue as how to fix this?

[2019-03-21 11:16] burner1024 opened #216 "Development runs again?"
I understand that since 2.0 itself is [put on hold itself](https://blog.mybb.com/2018/06/28/mybb-2-0-is-being-put-on-hold/), the note about development stop in the readme is no longer relevant?

[2019-03-21 11:52] euantorano commented on #216
Yeah, it’s not particularly relevant, though we do still plan to eventually rewrite the merge system when we have enough resources to do so.

[2019-03-21 15:53] burner1024 opened #217 "Bans aren't transferred from PHPBB3"
As far as I can see, there's no code to handle that at all, so I guess this is a feature request.

[2019-03-22 07:41] burner1024 opened #218 "PHPBB 3.2: posts contain html"
After migration, posts appear to be filled with HTML tags.
Reason and a workaround detailed [here](https://community.mybb.com/thread-208481-post-1322935.html).

![0SKV7Wp](https://user-images.githubusercontent.com/1279852/54807577-3ba2f080-4cb0-11e9-9e04-3d1126e78f9f.png)

[2019-03-22 07:53] burner1024 opened #219 "PHP 7.2: Warning [2] Use of undefined constant IN_MODULE"
PHP 7.2 throws a persistent warning during merge system usage. Doesn't appear to affect functionality for now.

[code]

[2019-03-22 09:12] veryard commented on #217
I'm happy to write the code for this but looks like development for this branch has stopped?

[2019-03-22 10:30] euantorano commented on #217
Development hasn’t stopped, but the team member who used to contribute the most code to this project left the team a while back and nobody else has really picked it up.

Our longer term goal is a full rewrite and rethink of the merge system, but we are certainly happy to accept patches for the current version.

[2019-03-22 12:56] veryard commented on #217
Thanks @euantorano

It looks to me like bans where not included in of the boards, I made a pull request, might need some additional testing. I wrote the bans module class etc.

https://github.com/mybb/merge-system/pull/220

Thanks,
Brad.

[2019-03-22 13:06] veryard commented on #218
- Edit

My bad, didn't see the link you provided, i'll have a look and make a pull request.

Thanks,
Brad.

[2019-03-22 13:18] euantorano commented on #217
Awesome, thanks @veryard!

[2019-03-22 14:58] burner1024 opened #221 "[phpBB 3] passwords with special characters not recognized"
Any user having an **&** (ampersand) in their password is not able to login after merge.

Apparently phpBB replaces it with **\&amp;** prior to hashing and storing in the database. So "_test1&test1_" password is in fact "_test1\&amp;test1_" as far as phpBB is concerned. But loginconvert.php uses pristine password for comparison, and the result is that the hashes never match.
Same for other [specia

[2019-03-22 15:16] veryard commented on #221
Interesting, if it's not a case for the older versions of phpBB we could do a check against the `phpbb_config` tables and pull the phpBB version from there, `config_name = version` would return the phpBB version.

Ideally someone would need to figure what version have it and what versions don't.

[2019-03-22 15:32] euantorano commented on #221
That's weird, I wouldn't have expected them to be escaping entities in passwords at all! We'll definitely have to do some research, I'll look at their code and see if I can see where they hash passwords and how long its been that way.

[2019-03-22 15:47] euantorano commented on #221
From a quick glance at phpBB's current source code, I can't see anything obvious that would be converting characters to HTML entities, but I'm not too familiar with their code.

[2019-03-22 15:52] burner1024 commented on #221
I dumped passwords/driver/bcrypt.php to find this out.

[2019-03-22 16:41] euantorano commented on #221
Ah, weird. I looked at pretty much everything except the individual drivers. Thanks @burner1024.

[2019-03-23 07:52] burner1024 opened #222 "[phpBB 3] shadow topics not transferred"
phpBB allows to leave a [shadow topic](https://wiki.phpbb.com/Shadow_topic) in place when moving, which is essentially a redirect to the new url. MyBB provides similar functionality.

After merge such topics are displayed in the forums, but attempting to access them results in "The specified thread does not exist".

This is a [10 year old bug](https://community.mybb.com/thread-53319.html), apparen

[2019-03-23 08:25] veryard commented on #222
Hello,

I've got the latest MyBB running locally, when i'm moving a thread it doesn't give me the option to leave a redirect like phpBB does?

![image](https://user-images.githubusercontent.com/3941758/54863803-42049b80-4d88-11e9-8ac2-e3e80b07bca8.png)

Thanks,
Brad.

[2019-03-23 08:31] burner1024 commented on #222
Do you actually have more than one forum?
![Captura de pantalla de 2019-03-23 15-30-36](https://user-images.githubusercontent.com/1279852/54863867-ad4a6f80-4d80-11e9-8cf1-21ed3eb82705.png)

[2019-03-23 08:39] veryard commented on #222
Yeah,
![image](https://user-images.githubusercontent.com/3941758/54863938-ff43c300-4d89-11e9-9c34-4565d387de36.png)

[2019-03-23 08:47] burner1024 commented on #222
Looks like some UI inconsistency. I get the same when moving from forum view.
Try entering the topic and see moderation options under quick reply.

[2019-03-23 10:42] euantorano commented on #222
I’d probably call that a big, any chance you could create a thread on the forums in the bugs & issues forum?

[2019-03-24 05:29] burner1024 commented on #222
@euantorano is that preferable to using github?

[2019-03-24 13:00] veryard commented on #218
Have made a pull request that fixes this.

![image](https://user-images.githubusercontent.com/3941758/54879766-c2ee9080-4e77-11e9-9f4d-514090274bf8.png)

Thanks,
Brad.

[2019-03-24 19:44] Eldenroot commented on #222
@burner1024 @veryard - it is a bug, extra options are missing, please push to GitHub or MyBB (preferably)

[2019-03-25 02:44] burner1024 commented on #222
[Reported](https://community.mybb.com/thread-222449.html).

[2019-04-10 14:42] fdutheil opened #224 "Errors on creating tables and adding/dropping columns needed by the merge system on PostgreSQL and SQLite databases"
Hi,
I tried to migrate a small (~40k posts) FluxBB 1.5 forum (PG 9.5 DB)  to MyBB (PG 9.5 DB) with merge-system, and it failed at first step (right after it successfully connected with the FluxBB PG DB) with this error message:
![mybb](https://user-images.githubusercontent.com/8522147/55888525-cd1ac980-5baf-11e9-9004-02c78ce28e86.png)
[code]
My understanding is that MyBB now supports PostgreSQL qu

[2019-07-21 14:37] yuliu opened #226 "UTF-8 issues regarding UTF-8 conversion and others"
Preface. I've got a Chinese user based Discuz! forum and have had written a converter for it. During working with the `users` module, I found problems of the Merge System with converting usernames correctly. By looking into the `encode_to_utf8()` function in [`./merge/resources/functions.php`](https://github.com/mybb/merge-system/blob/85a5c9d3005dbfaf7779dce676537c464cc15d04/resources/functions.ph

[2019-07-22 12:41] yuliu commented on #226
I've put some encodings across MySQL charset, iconv encoding and mbstring encoding together [here, incomplete list](https://github.com/yuliu/mybb-merge-system/wiki/Encodings).

Taking Chinese character encodings for example, their namings and support status by corresponding softwares are different. Maybe we can move some encoding judgement into the board converter's class, or users have to write t

[2019-07-31 09:20] sercan82 opened #228 "Merge VB5 to MyBB: 1146 - Table 'meydan1967.post' doesn't exist"
I am unable to merge from VB5 database to MyBB database.

Downloaded the latest version of MyBB and also the merge system. When I choose for database configuration, fill in all the necessary fields (choosing the database of VB5 which I have restored), then I get the error

SQL Error:
1146 - Table 'meydan1967.post' doesn't exist
Query:
SELECT LENGTH(pagetext) as length FROM post ORDER BY length DES

[2019-07-31 09:37] yuliu commented on #228
Do your vb5 tables have a prefix? Uhh, like `vb_`, and therefore your post table name should be `vb_post`. I don't have a vb forum installation and don't know what the default prefix is, just a guess.

Off-topic comment: is vb commercial-only now? Meaning I have to pay to install one.

[2019-07-31 09:41] sercan82 commented on #228
Hi Yuliu,

no I don't have a prefix. See attachment.
I have payed for the VB forum. It's commercial that's correct.

![github](https://user-images.githubusercontent.com/53514601/62201563-f8f0d380-b387-11e9-8e5b-feaae5ff7d71.png)

[2019-07-31 09:51] euantorano commented on #228
Does the ‘post’ table exist in the database?

[2019-07-31 10:03] yuliu commented on #228
I was about to ask the same question, and still searching for a documented vb5 database structure. But only found [this](https://forum.vbulletin.com/forum/vbulletin-5-connect/vbulletin-5-connect-questions-problems-troubleshooting/vbulletin-5-support-issues-questions/417313-what-is-the-database-stucture-like).

I see. You can't get there, can't pass the table check, if the database setting you've i

[2019-07-31 10:59] sercan82 commented on #228
Not standard, I made one self by copying the table to a new table with the name post. But then I receive a new error.

@yuliu

I pass the database check: Checking database details... success. Not able to pass the table.

[2019-07-31 11:20] yuliu commented on #228
I don't quite understand this. What is the table you've copied from? Did you lost this table? If its structure and column settings differ from the original one, which is the one installed by default, you'll probably fail during importing this table, even if you can pass the column length check.

The database check only checks if one particular table exists, it doesn't check if all the tables for m

[2019-07-31 11:39] sercan82 commented on #228
@yuliu

These are the steps I follow.

1. Imported the VB5 database with phpmyadmin.
2. VB5 database doesn't have the table posts (it is the table node and a few others linked to each other).
3. I made a new table (in the VB5 database) and copied all the content from the node table to the post table.
4. Opened domain.com/forum/merge/index.php.
5. Board selection is Vbulletin 5, click next.
6. Run

[2019-07-31 12:18] yuliu commented on #228
The vb5 converter comes along with the Merge system was added in [2016](https://github.com/mybb/merge-system/commits/feature/boards/vbulletin5.php). But seems the supported vb5 converter is superseded by vb5 connect that changes a lot in database, I guess. It uses nodes for storing contents, just like the way how Drupal works, rather than saving threads/posts/polls/etc individually.

What I mean i

[2019-07-31 13:03] euantorano commented on #228
If I had access to a VB5 database I could try to find some time to get a basic converter done. If anybody is willing to share (feel free to remove user details or anonymise etc), please email me at “euantor -at- mybb.com”

[2019-08-01 10:57] sercan82 commented on #228
@yuliu

I will make a VB5 Database for you and give you access to the database. Please give me some time.

[2019-08-01 13:01] yuliu commented on #228
Thank you for contributing to MyBB.

Although it's @euantorano who first offers to make a converter, I'd like to help with building it, too.

[2019-08-03 13:42] yuliu opened #229 "Allow boards to run their modules if directly derived from Converter_Module class"
If the Merge System can allow this, we can easily write any module even there's no base module class supported naively, by deriving directly from `Converter_Module` abstract class.

I've done so in my Discuz X2.5 converter. A PR is on its way.

By doing so, old or existing modules that are based on the internal module classes are not affected. Nothing should be worried about except that there's no

[2019-08-29 11:57] yuliu opened #232 "prepare_insert_array() incorrectly handles negative integers"
This bug significantly affects `threads`/`posts`'s `invisible` column. And potentially, any column permits a negative integer would be affected.

If `invisible` is `-1` for soft-deleted threads/posts, this field will be fill with `9`, since [`mb_strlen($insert_array[$key])`](https://github.com/mybb/merge-system/blob/6803564ce29804a0a82f0d1c04cb517f34e3746f/resources/class_converter_module.php#L169

[2019-08-29 12:44] yuliu commented on #232
Sorry, duplicate with #211.

[2019-09-01 16:18] yuliu commented on #229
Second thoughts on this, it's better to create new modules for the Merge System rather than allowing "tweaks" like this unwisely, since developers themselves are able to do it. Will close this issue and the PR.

[2019-09-01 16:18] #229 closed, assigned to nobody

[2019-09-15 13:47] euantorano opened #234 "XenForo 2.0/2.1 Merge Module"
We need a merge module for XenForo 2.0/2.1. I've not yet evaluated what differences there are in database structure between 1.x and 2.x.

I have an XF2 license to get sample data out of to test the merge process.

[2019-09-16 19:13] yuliu commented on #234
~~**Note:** XenForo 2 uses `utf8mb4` for MySQL's encoding, the UTF-8 conversion should be unchecked.~~

**Note:** Forums upgraded from XF 1 may still use `utf8` as MySQL tables' encoding, but XenForo 2 uses `utf8mb4` by default. So, it's better to install MyBB in `utf8mb4` encoding in MySQL. Have no idea what's the equivalent to PostgreSQL & SQLite.

[2019-09-16 19:26] yuliu opened #235 "UTF-8 sequence check when storing data on SQL query"
I encounter a MySQL error of invalid UTF-8 sequence when Merge is storing [`datatrace` ](https://github.com/mybb/merge-system/blob/6803564ce29804a0a82f0d1c04cb517f34e3746f/resources/class_debug.php#L111) of records to be converted from tables using a non UTF-8 character-set.

No such error on MySQL 5.5, but the error appears on MySQL 5.7 (haven't checked 5.6). It should relate to MySQL but not PHP

[2019-10-06 19:12] yuliu commented on #209
I think this issue does not relate to SQL's collation but the character set. The mechanism of user duplicate checking is coded in the `users` base module with the consideration of UTF-8. However, there's more in database collation perspective.

For @lordgittux 's problem, `Jônatas` is indeed duplicate of `jonatas` ~~by the logic of code in the base module~~, in case-insensitive collations:
- `j` i

[2019-10-07 13:38] #219 closed, assigned to nobody

[2019-10-08 12:44] veryard commented on #234
Am happy to work on this over the coming weekend.

[2019-10-08 12:46] veryard commented on #218
Can this be closed? @euantorano

Thanks.

[2019-10-08 13:27] #218 closed, assigned to nobody

[2019-10-08 13:27] euantorano commented on #218
Yep, will close now - thanks!

On Tue, 8 Oct 2019, at 13:46, Brad Veryard wrote:

[2019-10-13 13:30] yuliu commented on #235
It's should be relating to MySQL's strict mode: https://dev.mysql.com/doc/refman/5.7/en/sql-mode.html . MySQL has some changes on its strict mode since 5.7. I haven't tested the Merge with PostgreSQL or SQLite.

Since this issue only occurs when storing datatrace on records that are being inserted, there are several ways to fix, but I'm not sure which is the best one:
- Use a custom `insert_query(

[2019-12-06 16:40] yuliu opened #238 "Merging sub-forum may encounter error before its parent forum merged for some modules"
As the tittle says, some board import modules may have issues upon merging sub-forum when its parent forum is not yet merged. It's found in the SMF2 module for now (see the link below), but more modules might suffer in the same way.

Community thread: https://community.mybb.com/thread-225560.html

[2019-12-06 21:20] yuliu commented on #238
Precisely, should be this link: https://community.mybb.com/thread-225560-post-1339544.html#pid1339544

Sorry, just said completely the opposite way.. 👶
~~One should be able to reproduce it in merging a SMF2 board, by assigning an latter created board (has a bigger `id_board`) as a child forum of an earlier created forum (has a smaller `id_board`) in the SMF2 board then running the Merge System.~~

[2019-12-07 07:13] yuliu opened #240 "`yahoo` contact field discontinued"
IIRC, @euantorano mentioned in Discord that merge system will have a new release?

As a reminder and as a note here:
 - Code base from https://github.com/mybb/merge-system/commit/9a36efa08fd5e03fcc5e5d737e5b722de023ff02 and later will apply for MyBB version from 1.8.16 to 1.8.21 ([column `aim` in table `users` is dropped](https://github.com/mybb/mybb/blob/mybb_1816/install/resources/upgrade43.php#

[2019-12-07 08:44] euantorano commented on #240
Yep, it’s still planned to release a new version. I’m not sure if we have a packaging tool for it like we do the core, but if not we will need to document the process at least.

On Sat, 7 Dec 2019, at 07:13, yuliu wrote:

[2019-12-08 20:03] yuliu opened #241 "Merge breaks when MySQL's sql_mode is set to some specific values or "Strict Mode" is on"
PostgreSQL and SQLite may have equivalently so-called strict mode, but I'm not familiar with them.

Quick search:
PostgreSQL: no findings.
SQLite: https://sqlite.org/src/wiki?name=StrictMode

Relevant issue: #235. I can't confirm which setting is in effect here, the setting of `sql_mode` when I'm experiencing the problem is `STRICT_TRANS_TABLES,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION`.

A commu

[2020-01-14 00:38] luisalvarado commented on #194
Hi and thank you for the work here. I tried the latest vanilla and yes, I too needed to do a lot of custom fixes inside the SQL file before the import worked. I am not the owner of the vanilla data, am just the developer that is migrating 2 sites (2 different owners) because I recommended mybb to them. Currently it is working more or less correct after the migration but it would be awesome if the

[2020-03-05 15:42] yuliu opened #243 "MyBB's forums module: `parentlist` is not properly set for root categories (type c forum)"
## Issue:
The `parentlist` field of a merged type `c` (category) forum is the old value from the old database.
One potential bug I can find currently due to this issue for the final merged forum is about forum password:
- If the old value from an imported forum, called forum X, is an ID of an existing forum, let's call it forum A,
- and if forum A has a password for users to enter to view it,

the

[2020-03-05 16:14] yuliu commented on #243
Seems MyBB itself can't reset such values to correct ones at AdminCP by directly editing forum X's properties. The only way to fix this at AdminCP is to set forum X as a child forum of another forum and reset its parent to "None".

Looks like a well-run MyBB forum won't have such issues and the `parentlist` will only be updated upon changing a forum's parent https://github.com/mybb/mybb/blob/mybb_

[2020-03-06 15:13] yuliu commented on #243
For anyone who has already merged their MyBB forums and suffers from this bug, either of following methods for correcting would work:

- Manually set the parent forums of affected forums (root categories) to another one other than "None" and re-set back their parent forums to "None".

- Run this SQL query in your MyBB database: `UPDATE mybb_forums SET parentlist = fid WHERE pid = 0` (replace `mybb

[2020-03-07 10:23] euantorano commented on #241
I believe PostgreSQL is strict by default basically, an I'm not aware of any options to make it more/less strict. @kawaii may know better though.

[2020-04-09 18:26] yuliu opened #245 "No UTF8 conversion support for messages in IPB4 Privatemessages module"
As reported in https://community.mybb.com/thread-227220.html

Relevant code:
https://github.com/mybb/merge-system/blob/bd7fd6b87d64ed568d6d28867e8c61e2ab38c607/boards/ipb4/privatemessages.php#L49-L51

[2020-05-30 22:46] ErikThiart commented on #210
This is still an issue

[code]

[2020-05-31 17:00] yuliu commented on #210
Could you please elaborate on the version of merge system and the boards and versions of source and target boards respectively?

[2020-05-31 17:56] ErikThiart commented on #210
@yuliu sure,

I installed MyBB (fresh install) 1.8.22 - I downloaded it from the official website.

I then downloaded and installed the MyBB Merge System version 1.8.11 from here (https://mybb.com/download/merge-system/)

I then attempted to import phpBB version 3.3.0 and got the error above, amongst others.

I then added `aim` to the MyBB user table and then got the same error, but for `yahoo` wh

[2020-05-31 18:07] yuliu commented on #210
@ErikThiart oh, the version at https://mybb.com/download/merge-system/ is a bit old and doesn't have recent updates in GitHub.
Please try again using the merge system from here, this repository. Download it as a .zip file: https://github.com/mybb/merge-system/archive/feature.zip

[2020-06-01 18:35] ErikThiart commented on #210
@yuliu how does the installation work for this one, so I just copy it to the MyBB installation folder and navigate to boardurl.com/merge-system-feature/ or do I rename it to merge?

[2020-06-01 18:40] yuliu commented on #210
Yes you could rename the extracted folder `merge-system-feature` to `merge` and upload/move it to the forum root, then visit boardurl.com/merge/ in web browser.

For questions about using the merge system it's better to post in its support forum at https://community.mybb.com/forum-180.html

[2020-06-01 19:00] ErikThiart commented on #210
Much appreciated!

Unfortunately, I think I am banned there for causing to much flack pointing out a lack of communication and direction.

I just need MyBB till the end of the year then moving to xenforo

That said, your help as been fantastic - they should pay you.

[2020-06-01 19:44] euantorano commented on #210
We still need to release a new version of the merge system, we should probably do that after 1.8.23 is released, pinging @mybb/developers as a reminder.

[2020-06-16 14:49] #243 closed, assigned to nobody

[2020-06-16 16:14] #234 closed, assigned to nobody

[2020-06-16 16:17] JordanMussi opened #246 "Closed field for threads is restricted to integers"
#227

[2020-06-16 16:18] #246 closed, assigned to nobody

[2020-06-16 16:23] JordanMussi opened #247 "phpBB3 user bans"
#220

[2020-06-16 16:24] #247 closed, assigned to nobody

[2020-06-16 16:25] JordanMussi opened #248 "phpBB3 remove HTML entities from posts"
#223

[2020-06-16 16:25] #248 closed, assigned to nobody

[2020-06-16 16:28] #240 closed, assigned to nobody

[2020-06-16 16:29] JordanMussi opened #249 "vBulletin3 attachments may not have unique file names"
#214

[2020-06-16 16:29] #249 closed, assigned to nobody

[2020-06-16 16:30] JordanMussi opened #250 "vBulletin3 avatar dimensions are inverse order"
#213

[2020-06-16 16:31] #250 closed, assigned to nobody

[2020-06-16 16:32] JordanMussi opened #251 "Post module issues with double header showing and `rebuild_thread_counters` bug"
#225

[2020-06-16 16:33] #251 closed, assigned to nobody

[2020-06-16 16:37] #217 closed, assigned to nobody

[2020-06-20 12:30] yuliu commented on #232
Fix was merged in https://github.com/mybb/merge-system/commit/b3d1540f6ea63d6a3a6d19b0dd6bed462b7f3254#diff-445c5be011e7f33ed43d44f4a088a5c7

[2020-06-20 12:30] #232 closed, assigned to nobody

[2020-06-20 12:31] #211 closed, assigned to nobody

[2020-06-20 12:31] yuliu commented on #211
Fix was merged in https://github.com/mybb/merge-system/commit/b3d1540f6ea63d6a3a6d19b0dd6bed462b7f3254#diff-445c5be011e7f33ed43d44f4a088a5c7

[2020-06-25 12:42] JordanMussi opened #252 "`pmfolders` changes"
Reference: https://github.com/mybb/mybb/issues/4054

This is what the default currently is when merging:
https://github.com/mybb/merge-system/blob/8dd884842b9cab505b8ab8ba1ccb590f0904853a/resources/modules/users.php#L75

Default will need to be: `"0**$%%$1**$%%$2**$%%$3**$%%$4**"`

[2020-07-08 11:29] yuliu commented on #241
MySQL _strict mode_ may be disabled by setting `sql_mode` to some combinations of not strict modes, for example:
[code]

This should be useful for normal users who use the merge system but for merge system's developers doing so may not be recommended IMO.

[2020-07-20 11:50] yuliu opened #255 "Information on error page is limited by default as of mybb/mybb#2962"
As of mybb/mybb#2962 (PR mybb/mybb#3882), the default setting for "Error Type Medium" (`errortypemedium`) is set to "Hide Errors and Warnings" (`none`), which, by default, results in the merge system not printing any useful detailed information when error occurs.

Example (community forum thread): https://community.mybb.com/thread-228663.html

IMO this setting should be forced to "Warnings and Err

[2020-07-20 21:03] #255 closed, assigned to nobody

[2020-07-20 21:05] #252 closed, assigned to nobody

[2020-08-05 19:53] #238 closed, assigned to nobody

[2020-08-22 12:18] yuliu opened #258 "Literal "localhost" or "127.0.0.1" in URL settings for avatars and attachments modules"
Literal "localhost" or "127.0.0.1" in URL settings for avatars and attachments modules will prevent themselves from running. Hosts in URLs should be checked for such subjects, rather than in arbitrary path strings.

- avatars:
https://github.com/mybb/merge-system/blob/d453ec2b922a088cfa41a81753c37b7f038ecb77/resources/modules/avatars.php#L149
https://github.com/mybb/merge-system/blob/d453ec2b922a0

[2020-10-12 16:09] rvbiljouw commented on #224
Hi @fdutheil,

Did you ever get anywhere with this? I'm experiencing the same issue.

[2020-10-12 16:17] euantorano commented on #224
@rvbiljouw Are you using the current version of the merge system from Git (e.g. [from here](https://github.com/mybb/merge-system/archive/feature.zip))?

Which system are you trying to merge from?

I somehow managed to miss this issue in the past, but would be interested in getting it fixed - as would @kawaii I imagine 😄

[2020-10-12 16:19] rvbiljouw commented on #224
hey @euantorano, using the version provided on the website. will try the latest git version now and see if the same occurs..

[2020-10-12 16:28] rvbiljouw commented on #224
@euantorano Can confirm it still occurs. The situation is as follows: I have a vB5 install (using MySQL, as you'd expect) that I want to migrate over to MyBB, which is installed with Postgres.

The migration code appears to assume that when migrating from MySQL, the target is also MySQL. This opens up some strange situations such as:

- ALTER TABLE with no columns fails on Postgres, but presumably

[2020-10-12 16:30] euantorano commented on #224
Interesting, thanks for following up. I'll have to do some testing and see what we can do to iron things out. Some of them should be easy enough to fix, some may not.

I would imagine the same will happen when merging from other platforms too (and likely when merging to other DB engines too such as SQLite).

[2020-10-13 09:12] yuliu commented on #224
An incomplete list for fixing the db engine compatibility issue:
- alter table may need to check whether there's any column to alter (errors might be more common in converted forums or forums during converting):
https://github.com/mybb/merge-system/blob/d453ec2b922a088cfa41a81753c37b7f038ecb77/resources/functions.php#L237
https://github.com/mybb/merge-system/blob/d453ec2b922a088cfa41a81753c37b7f03

[2020-10-13 16:36] euantorano commented on #224
@yuliu Yes, would probably make sense to change the title. Will do so now.

[2020-10-25 15:14] yuliu opened #261 "Only one imported non-categorized forums (pid=0) will be categorized due to query being overwritten"
In the base forums module's `cleanup()`:
Query [`$query = $db->simple_select('forums', '*', "type='f' AND pid=0 AND import_fid > 0");`](https://github.com/mybb/merge-system/blob/merge_1823/resources/modules/forums.php#L137) is overwritten when the merge system is trying to rebuild child forums' parentlist:
- [`$query = $db->simple_select("forums", "fid", "','||parentlist||',' LIKE '%,{$forum['fid'

[2020-10-25 15:17] yuliu commented on #261
And that makes only the first forum in the SQL's result get categorized. Others will be listed under root without a parent category, which is not allowed in MyBB and "Please select a valid forum" error will occur when trying to grant moderator permissions for them at AdminCP.

Original report: https://community.mybb.com/thread-229919.html

[2020-10-25 15:19] yuliu commented on #216
Yes and we'll try to keep the merge system updated with MyBB's release.

[2020-10-25 15:19] #216 closed, assigned to nobody

[2020-10-27 12:36] yuliu commented on #201
The fix was merged in #191.

[2020-10-27 12:36] #201 closed, assigned to nobody

[2020-11-06 02:18] luisalvarado opened #262 "How to donate to help with the merge development"
Hi merge team, I have 2 clients that want to leave vanilla and migrate to mybb and I have explained to them what mybb is, how it works and the benefits of using it, but I also explained that the merge is not yet finished for Vanilla. Is there a way for me to donate in order to accelerate development of it. I can also provide example SQL file exactly how vanilla gives them to our clients.

[2020-11-06 07:03] euantorano commented on #262
Example SQL files with data from Vanilla would be a big help - we can easily get data for the free version of Vanilla but I believe the cloud hosted version is a little bit different?

If you can email me them to “euantor -at- mybb.com” then I’ll try and have a look at them over this weekend and see what I can do.

On Fri, 6 Nov 2020, at 02:18, Luis Alvarado wrote:

[2020-11-11 00:25] luisalvarado commented on #262
Oh sorry @euantorano just noticing the message. Sending it over right now to you.

[2020-11-11 07:04] euantorano commented on #262
Yep, received. Thanks very much!

On Wed, 11 Nov 2020, at 00:26, Luis Alvarado wrote:

[2020-11-15 20:24] #261 closed, assigned to nobody

[2020-11-27 17:40] #262 closed, assigned to nobody

[2020-12-03 14:09] fdutheil commented on #224
Sorry for the late reply, but as you already guessed, I couldn't get past this (I had to migrate to MySQL and rewrite all my playbooks).
I'm happy to see the merge system gets some love again, and wish you all success :)

[2020-12-03 20:21] luisalvarado opened #264 "Latest Vanilla Forum importing issues (Forum has no parents, threads or posts)"
Found several issues when importing from Vanilla to MyBB 1.8.24 (Using Merger 1.8.23)

1.
![image](https://user-images.githubusercontent.com/29236/101083742-9b1f5d80-3572-11eb-9bea-6f750feec3aa.png)

Which is related to a Field 'directory_password' doesn't have a default value. If set to null by default then I get another column 'forum_password' which also has the same non default value issue.

2.

[2020-12-10 21:24] luisalvarado commented on #264
For the moment, I can understand the amount of work that is invested here, but would someone have a query or group of queries that could fix the relationship between categories, posts and threads?

[2020-12-10 21:56] euantorano commented on #264
I've been looking into this, and continue to do so.

1. There is no field called `directory_password` in the MyBB core, or referenced in the merge system. I assume you are merging into a clean new MyBB install, right? I also can't find a reference to `directory_password` in the open source Vanilla code.
2. The error message:

    Is caused by the merge system not being able to find a matching user

[2020-12-10 22:27] luisalvarado commented on #264
Hi @euantorano  thank you friend. Yes for some reason when doing the merge with a clean mybb and the SQL files I sent over it happens. But what I did was set a default value for those.

For everything else THANK YOUU. Because you are helping me and 5 others that want to leave vanilla because of their shady nature.

[2020-12-11 13:38] luisalvarado commented on #264
Hi @euantorano you were right. I just did a clean mybb (Deleted everything and started from scratch on the server). There was no directory_password. Not just this one but another column that had the same issue.

[2020-12-11 13:57] euantorano commented on #264
Ok, so hopefully that’s issue 1 sorted 😀

On Fri, 11 Dec 2020, at 13:39, Luis Alvarado wrote:

[2020-12-17 18:26] luisalvarado commented on #264
Hi team MyBB, is there any updates or how can I help?

[2020-12-17 18:28] euantorano commented on #264
I’m finishing work for the Christmas break tomorrow, and will have more free time from then. Expect a PR after that, as I’ve finished my larger PR for the MyBB core.

On Thu, 17 Dec 2020, at 18:26, Luis Alvarado wrote:

[2020-12-17 18:46] luisalvarado commented on #264
Euan YOU ARE AN ANGEL. A LIFE SAVER!

[2021-01-11 17:17] luisalvarado commented on #264
Happy new year @euantorano got any good news. Can I help you in any way or contribute some idea/information?

[2021-01-11 17:20] euantorano commented on #264
Good news: I can replicate the problem. Bad news: I've not worked out a solution yet.

I'm hoping to get it running through an import properly in the next few days. The thing that slows me down is the cycle of installing a new board each time to test, but there's not a lot we can do about that.

[2021-01-11 23:54] luisalvarado commented on #264
For me that is great news. If you are able to replicate, then from there, debugging, checking what missing ; is affecting this and how many cups of coffee are needed will be easy. Thank you friend. For the testing, I can give access to instances in digital ocean if that helps.

[2021-01-21 00:42] luisalvarado commented on #264
Hi @euantorano  how are the fixes going my friend. Can I test something to give you feedback?

[2021-01-24 16:21] euantorano opened #265 "Incorrect string value for debug logs"
Whilst debugging #264, I've occasionally come across the following error:

[code]

This is during the `Users` stage, the issue appears to be the IP address for a user: `'UpdateIPAddress\' => \'?�g\'`. An extract of the query is below:

[code]

[2021-01-24 16:30] euantorano opened #266 "Vanilla merge - forums merge error"
While debugging #264, I ran into the following error:

[code]

[2021-01-24 16:32] euantorano commented on #266
Note: I got around this by adding the following chunk of code [here](https://github.com/mybb/merge-system/blob/feature/boards/vanilla/forums.php#L115):

[code]

[2021-01-24 16:35] euantorano commented on #265
Note: This also occurs when merging forums. The issue is related to how binary data is handled, but I'm not 100% sure of the best approach to solve this.

[2021-01-24 16:36] yuliu commented on #265
What kind of db system are you using? MySQL?

Both #235 and #241 are relevant to this issue. https://github.com/mybb/merge-system/issues/235#issuecomment-541418687 provides some ideas that may be helpful but may not be ideal, and not sure if they're applicable to db systems other than MySQL.

[2021-01-24 16:37] euantorano commented on #265
Yeah, I'm on MariaDB 10.5, using UTF8 mb4. I'm using the standard `mariadb:10.5` Docker image.

[2021-01-24 16:43] euantorano commented on #235
Another possible approach:

In the data trace, rather than just using `var_export` rebuild the array and either skip or empty any strings that look like binary (e.g. `preg_match('//u', $field)` fails).

[2021-01-24 17:03] euantorano opened #268 "Vanilla import: PM import warning - invalid argument supplied for foreach()"
When importing PMs in the Vanilla forum module, the following warnings are shown:

<img width="1904" alt="Screenshot 2021-01-24 at 17 03 02" src="https://user-images.githubusercontent.com/748913/105637553-14964680-5e66-11eb-86ee-2f2e13f52457.png">

[2021-01-24 17:07] euantorano commented on #268
Note: this relates to the following block of code:

https://github.com/mybb/merge-system/blob/feature/boards/vanilla/privatemessages.php#L45:L48

The format of the `recips` column in the data I have is as follows:

[code]

[2021-01-24 17:10] euantorano opened #269 "Vanilla import: warning importing avatars when AWS S3 is used for storage"
When AWS S3 is used for avatar storage, the avatar import module for Vanilla throws the following warnings:

<img width="1904" alt="Screenshot 2021-01-24 at 17 07 52" src="https://user-images.githubusercontent.com/748913/105637744-e1a08280-5e66-11eb-91b8-8ae7054e9f58.png">

This is due to S3 uploads having the form `s3://uploads/userpics/...`.

[2021-01-24 17:20] euantorano commented on #264
Hey, I've managed to get the forums and threads imported, but there are still some issues to resolve, like clicking on a thread/forum results in an `Invalid forum` error. I'm looking into that right now.

The forum index page does show all the forums and there latest threads though, so it's quite a strange issue.

[2021-01-24 17:32] euantorano commented on #264
Ah, I think I've just found the cause for this. After the import the forum cache contains entries like the following:

[code]

Note the empty `parentlist`- this is an empty string. In the MyBB core's `get_forum` function, we explode this string on `,` which results in a single empty string which means we return false.

Rebuilding the `forums` cache seems to resolve this issue.

I'm now just combin

[2021-01-25 02:38] luisalvarado commented on #264
Thank you buddy. That had to be a lot of investigative work. I will wait for this to be merge so I can try it with a new import. Pretty sure you killed all the bugs for vanilla.

[2021-02-19 22:58] luisalvarado commented on #269
Awesome news yesss!!! Thank you buddy. So how is this fixed?

[2021-02-19 22:58] luisalvarado commented on #268
Thank you buddy, awesome news here. How can I test this.

[2021-02-19 22:59] luisalvarado commented on #266
Another one, you are on fire. How can I test this

[2021-02-19 23:00] luisalvarado commented on #265
Yes, also having this issue and @euantorano has been super helpful in regards to tackling multiple vanilla issues.

[2021-02-22 15:25] euantorano commented on #265
Note: This should be resolved by#267.

[2021-02-22 15:25] #235 closed, assigned to nobody

[2021-02-22 15:26] #265 closed, assigned to nobody

[2021-02-22 15:28] euantorano commented on #269
There are 2 options - one of which is easy, the other not so easy:

1. Ignore avatars as part of the merge that have `s3://` at the start (this is the easy option, but not ideal).
2. Add a step that runs before the merge that downloads all avatars from S3 to a local folder. This will require some additional details like S3 URL and such to work (this is the harder option, but could be done manually

[2021-02-22 15:31] euantorano commented on #268
At the moment, I don't have a proper fix in place - as these are just warnings, the merge system continues and simply doesn't import PMs. That's obviously not ideal though. I need to retry this and work out a fix, I suspect it's not a problem happening for every single PM, but rather just some of them.

[2021-02-22 15:31] euantorano commented on #266
I need to open another PR with the above code modification in, which I'll do along with a fix for #268 this week.

[2021-03-03 15:20] luisalvarado commented on #269
Could the other Vanilla issues be merged without this one, so we could start testing with our data site?

[2021-03-03 15:26] euantorano commented on #269
Sure, that sounds like a good compromise. I'll try get that done ASAP and get a demo up for you.

[2021-03-03 18:54] luisalvarado commented on #269
please thank you Euan. We do not worry about the images since we could maybe create an API that can handle that later one, everything else that you have worked on has so much value for the import process to go smoothly and avoid the bullying from Vanilla.

Thank you buddy.

[2021-03-06 18:35] luisalvarado commented on #269
Hi buddy any updates @euantorano

[2021-03-16 16:50] #264 closed, assigned to nobody

[2021-03-16 16:50] #266 closed, assigned to nobody

[2021-03-16 16:50] #268 closed, assigned to nobody

[2021-03-16 16:50] #269 closed, assigned to nobody

[2021-03-26 15:43] luisalvarado commented on #264
After doing a clean database and using the latest merge version this is the only issue I am having. The whole process now finishes correctly mind you.

But when you get to view the forum (after cleaning the cache in the mybb settings in Tools & Maintenance -> Cache Manager I still get this error. It shows on the front as "Vanilla imported forums" but when clicked in says:

"Sorry, but the forum yo

[2021-03-26 17:14] euantorano commented on #264
I had to do the following:

- Rebuild each cache
- Recount & rebuild all

Then the above error went away for me. I'm not 100% clear why yet, as the merge system is meant to do both of the above.

[2021-03-29 16:18] luisalvarado commented on #264
Would you like me to send you the credentials for you to see it yourself?

[2021-03-29 16:54] euantorano commented on #264
Sure, might be a good idea. If you give me Admin permissions then I can try fix it too 😄

[2021-04-01 19:11] luisalvarado commented on #264
Thank you, I will email you everything. Thank you

[2021-04-05 13:47] luisalvarado commented on #264
Hi @euantorano I emailed you a couple of days ago.

[2021-04-05 18:24] euantorano commented on #264
Great, thanks. I'll take a look as soon as I get a chance.

[2021-06-05 13:57] luisalvarado commented on #264
Just to update that this still an issue. @euantorano has worked hard on it, but the way that vanilla works is:

1. They give you an SQL file every month (New SQL file to download from their site).
2. This would then be taken to the mybb merger and hopefully worked from start to end so that the end result shows similar to the vanilla forum.

Currently, the posts and categories are the issue, so bas

[2021-06-15 18:13] yuliu opened #271 "New field added for table `usergroups`"
A new field is added to the table `usergroups` in https://github.com/mybb/mybb/pull/4065 so a default value for it should be added to `/resources/modules/usergroups.php`.

https://github.com/mybb/mybb/blob/e99ec544ef0dbe243c64e6f41c9d4bdac090473d/install/resources/mysql_db_tables.php#L1016

https://github.com/mybb/mybb/blob/e99ec544ef0dbe243c64e6f41c9d4bdac090473d/install/resources/pgsql_db_tables

[2021-06-18 17:08] luisalvarado opened #272 "Vanilla not importing correctly with a fresh MyBB (1.8.26)"
I downloaded MyBB 1.8.26 and used the latest backup from Vanilla from June 2021, apart form the latest Git update from the MyBB Merger. After I did this, Here are the issues encountered:

1. I was not able to import the users because it said there were duplicates. I did a temp change where the username was not unique in the mybb_users table to solve that issue.
2. Categories were not imported in a

[2021-06-21 13:23] luisalvarado commented on #272
Can anyone be hired for the this. We would pay for someone to solve this. There is a $500 USD bounty for it.

[2021-07-01 07:06] Sama34 commented on #272
According to #269
https://github.com/mybb/merge-system/issues/264#issuecomment-855244179

Posts and categories were the last issues, but it got worse?

[2021-07-01 07:07] Sama34 commented on #272
You can send me your test DB and I will attempt to figure it out.

[2021-07-01 13:28] euantorano commented on #272
Sorry for the delay on this, I've been busy with work.

1. Duplicate usernames are probably going to cause other issues (mostly with logins I guess) - I'm quite surprised Vanilla allows this! The duplicate username appears to be an empty string (`''`) in your video, which is even weirder... Empty usernames are not supported in MyBB so I guess there's something wrong with the mapping of the usernam

[2021-07-01 18:26] yuliu commented on #272
For this one, I think we may use randomized usernames for users whose old usernames are empty, or maybe there are other fields like "display name", etc. that we can use.

[2021-07-01 23:49] Sama34 commented on #272
If no additional similar fields exists, should probably be built with the UID and some stock name. i.e: `MergedUser<UID>`

[2021-07-07 14:05] luisalvarado commented on #272
Apologies, got caught up with kids and work. Yes I also was under that impression with Vanilla but could not believe it. I thought I was getting it wrong. Maybe because they might allow for the same username but different password?

[2021-07-12 16:54] Shnoulle opened #273 "Warning: Declaration of debugErrorHandler::error should be compatible with errorHandler::error in /mybb/merge/resources/class_error.php on line 0"
Situation:

1. mybb 1.8.27 setup new, nothing done except setup
2. merge 1.8.23
3. Launcnh : big warning
4. PHP Version 7.3.29-1~deb10u1 / nginx

I make the pull request in some minute (or tomorrow).
![Capture d’écran du 2021-07-12 18-53-45](https://user-images.githubusercontent.com/1439428/125326639-8d208f00-e342-11eb-9eba-819457c1e8aa.png)

[2021-07-24 14:53] nstaff commented on #272
Hi everyone. I've made some progress on this one. I've been able to correct the issues with a couple of direct queries prior to the cleanup step of the import, but I'm a bit strapped for time to find the right places in the code base to get the resolved implemented into a PR without some guidance.

In the import, it appears many of the posts get orphaned from their user when they get imported. Add

[2021-11-13 14:19] yuliu opened #275 "PHP 8.0 compatibility issues"
This issue will track the merge system's PHP 8.0 compatibility problem. Any PR fixing any of them is welcome.

[2021-11-13 14:24] yuliu commented on #275
Warning: Declaration of debugErrorHandler::error($type, $message, $file = NULL, $line = 0) should be compatible with errorHandler::error($type, $message, $file = NULL, $line = 0, $allow_output = true) in /merge/resources/class_error.php on line 34

Already reported in #273, other reports from the community forum:
https://community.mybb.com/thread-234192-post-1372839.html#pid1372839

[2021-12-10 19:19] yuliu opened #276 "New PDO based DB drivers for MySQL and PostgreSQL as of 1.8.27"
New PDO based DB drivers for MySQL and PostgreSQL have been introduced in https://github.com/mybb/mybb/pull/4193.

[2021-12-11 19:06] yuliu commented on #224
Here's a possibly **in**complete list of catches we need to take care of:

- [ ] (PostgreSQL) [`ALTER TABLE .. DROP ..`](https://github.com/mybb/merge-system/blob/merge_1823/resources/functions.php#L237) in [`delete_import_fields()`](https://github.com/mybb/merge-system/blob/merge_1823/resources/functions.php#L190) may be queried without any column specified, PostgreSQL doesn't support this syntax

[2021-12-12 09:23] yuliu opened #277 "Retrieved binary field isn't properly unescaped when merge a MyBB database"
For example, merging a MyBB on a PostgreSQL database to a MySQL database, the `users` and `posts` modules would have the SQL errors of `regip`, `lastip`, `ipaddress` (the column name) is too long.

Those binary fields need to be unescaped before sending to the be converted so that they'll get properly escaped.
[code]

[2021-12-12 11:40] yuliu opened #279 "bbpress's delcaration `get_group_id()` isn't compatible with parent class's"
`BBPRESS_Converter->get_group_id()`:
https://github.com/mybb/merge-system/blob/d453ec2b922a088cfa41a81753c37b7f038ecb77/boards/bbpress.php#L100

`Converter->get_group_id()`:
https://github.com/mybb/merge-system/blob/d453ec2b922a088cfa41a81753c37b7f038ecb77/resources/class_converter.php#L531

[2021-12-15 20:04] yuliu opened #281 "Rework `get_length_info()` and `Converter_Module->prepare_insert_array()`"
Since https://github.com/mybb/mybb/issues/4166, the DB's `show_fields_from()` functions are reworked to have the same output of fields among different database systems.
And as of MySQL 8.0.17, the display width for integer data types was deprecated (https://github.com/mybb/mybb/issues/4166#issuecomment-730332679 & https://dev.mysql.com/doc/refman/8.0/en/numeric-type-syntax.html).
It means that we

[2021-12-17 15:23] yuliu commented on #275
`create_function()` was removed in 8.0 PHP version.

https://github.com/mybb/merge-system/blob/755ae596ce1dd894e2861a22345a55fb5da77533/resources/functions.php#L728-L739

https://github.com/mybb/merge-system/blob/755ae596ce1dd894e2861a22345a55fb5da77533/boards/vbulletin3/privatemessages.php#L64

https://github.com/mybb/merge-system/blob/755ae596ce1dd894e2861a22345a55fb5da77533/boards/vbulletin4/pr

[2021-12-19 12:57] yuliu commented on #279
It'll be tracked in the PHP 8 compatibility issue.

[2021-12-19 12:57] #279 closed, assigned to nobody

[2021-12-19 12:57] yuliu commented on #275
From #279 bbpress's delcaration `get_group_id()` isn't compatible with parent class's

`BBPRESS_Converter->get_group_id()`:
https://github.com/mybb/merge-system/blob/d453ec2b922a088cfa41a81753c37b7f038ecb77/boards/bbpress.php#L100

`Converter->get_group_id()`:
https://github.com/mybb/merge-system/blob/d453ec2b922a088cfa41a81753c37b7f038ecb77/resources/class_converter.php#L531

[2021-12-19 13:52] #273 closed, assigned to nobody

[2021-12-19 13:52] #276 closed, assigned to nobody

[2021-12-19 14:07] #271 closed, assigned to nobody

[2021-12-22 21:10] yuliu opened #283 "Fields in various base modules are not listed as an integer/binary"
It has a default value of `1`.
https://github.com/mybb/merge-system/blob/d453ec2b922a088cfa41a81753c37b7f038ecb77/resources/modules/forums.php#L35

But not listed in the `$integer_fields` array in `/resources/modules/forums.php`.

[2021-12-23 12:50] yuliu commented on #283
Similarly, here's a list of fields that haven't been categorized in corresponding base modules (the types are from MySQL's table definitions):

# Integer fields

 - Usergroups (usergroups)
    - `canviewboardclosed` (`tinyint(1)`)
    - `modposts` (`tinyint(1)`)
    - `modthreads` (`tinyint(1)`)
    - `mod_edit_posts` (`tinyint(1)`)
    - `modattachments` (`tinyint(1)`)
    - `canviewdeletionnotic

[2021-12-24 16:36] #224 closed, assigned to nobody

[2021-12-24 16:36] #283 closed, assigned to nobody

[2021-12-28 10:01] #277 closed, assigned to nobody

[2021-12-31 10:58] yuliu opened #288 "Add `$default_values`, `$integer_fields` and column length check to the `avatars` module"
... so that the update query could have less opportunities of causing SQL errors:

https://github.com/mybb/merge-system/blob/d453ec2b922a088cfa41a81753c37b7f038ecb77/resources/modules/avatars.php#L84

It would also help mitigate the number of unknown/mismatched column datatype warnings from #285 when importing avatar data.

[2022-01-20 11:06] yuliu opened #290 "GROUP BY issue"
The error has been seen in phpBB users module:

This affects MySQL with sql_mode `only_full_group_by` enabled, PostgresSQL and probably SQLite.

[2022-01-23 14:23] yuliu opened #291 "Links in the form of `[url='http://..']text[url]` aren't converted properly in XenForo 2"
In the XenForo 2 converter, links in the form of `[url='http://..']text[url]` will be converted to `[url]text[/url]`.

Original report: https://community.mybb.com/thread-229756.html

[2022-01-30 20:33] #291 closed, assigned to nobody

[2022-04-01 12:13] 3dpoder opened #293 "Merge does not respect the threadid vbulletin"
Merge does not respect the threadid number?

I have done the merge from vbulletin but the url ID is different:

vbulletin --> showthread.php?t=141301
Mybb -----> showthread.php?tid=107762

How can I redirect one to the other?

It is that if not, it would lose the google indexing of years.

[2022-05-23 15:10] GodOfWareFare opened #294 "Help to merge SMF 2.0.19 ??"
Hi am very new in the whole process,can someone please explain to me this--> do i have to upload the merge directory on my SMF forum root directory or do i need to make a subdirectory and upload merge directory there? lets say my SMF forum is https://myforum/
sould is upload it here https://myforum/merge? or sould i make a new directory lets say https://myforum/forum/merge?and one more thing,do i

[2022-05-23 17:01] Stefan-MyBB commented on #294
For support please use the community forums: https://community.mybb.com/forum-180.html

[2022-05-23 18:02] GodOfWareFare commented on #294
I did but still waiting for answer!

[2022-05-26 10:52] yuliu commented on #294
Make sure you have the complete MyBB installed and Merge system uploaded.

Ref: https://docs.mybb.com/1.8/merge/running/#uploading-the-files

As Stefan said, please use the forum for support. Closing it.

[2022-05-26 10:52] #294 closed

[2022-05-28 07:40] xJuvi commented on #293
Hi,
i think the reason is, that you can merge into an exist MyBB with threads.

The vBulletin ThreadID is temporary stored in "import_tid"

https://github.com/mybb/merge-system/blob/a5883f35f6d247758da7a15af4420b0b03fdaaa6/boards/vbulletin5/threads.php#L39-L40

The value "tid" (which is used in the url) is generated by auto_increment. Maybe, but untested, you can add th following:

[code]

But not

[2022-08-18 10:38] #281 closed, assigned to nobody

[2022-08-18 10:39] #288 closed, assigned to nobody

[2022-09-19 10:00] TK-3375 opened #295 "Birthday corrupted when imported from phpBB3"
After merging my phpBB3 forum with MyBB I started getting errors when editing user profiles regarding the birthday. I might be wrong but I believe there are non wanted spaces added when importing the data : like "18- 4-1972-"

Forum gets confused and in most cases simply left the dropdown menu empty for "month" in user profile page. Unless you select a month, you can't alter that user account.

A

[2022-09-19 10:06] TK-3375 opened #296 "Signatures have html entities when merging from phpBB3"
When merging phpBB3 into MyBB 1.8 I noticed user signatures get corrupted, here is an example :

[code]
All kinds of html stuff is weirdly converted from old phpBB BBcodes used. If I may add : that "`<t> </t>`" thing also shows up in forum descriptions, and in forum rules. Maybe those fields could use some cleanup as well.